{% extends "dashboard/base_dash.html" %}

{% block dash_body_block %}
  {% if object_list %}
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Amount</th>
        <th>Date</th>
        <th>Type</th>
        <th>Paid</th>
      </tr>
      </thead>
      <tbody>
      {% for order in object_list %}
        <tr>
          <td>${{ order.amount }}</td>
          <td>{{ order.created_at }}</td>
          <td>{{ order.get_typ_display }}</td>
          <td>
            {% if order.paid %}
              <i class="fa fa-lg fa-check-circle text-success" aria-hidden="true"></i>
            {% else %}
              <i class="fa fa-lg fa-times-circle text-danger" aria-hidden="true"></i>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h4>You have no orders.</h4>
  {% endif %}
{% endblock %}