.btn-aoj {
    border-radius: 0;
    color: #676767;
    border: 2px solid #676767;
    text-transform: uppercase;
}

.btn-aoj:hover {
    color: #fff;
    background: #676767;
}

.paragraph {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5em;
}

.fb-like {
    vertical-align: top;
}

.twitter-share-button {
    vertical-align: top;
}

.form-wrapper {
    position: relative;
}

.form-wrapper .f-message {
    position: absolute;
    bottom: 90px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    display: none;
    text-shadow: 0px 0px 20px #fff;
    padding: 0 5px;
}

.form-wrapper .f-success > h3 {
    color: #8bc34a;
    font-size: 22px;
}

.form-wrapper .f-error > h3 {
    color: #f44336;
    font-size: 22px;
}

.ajax-loading-modal {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .5) url('/static/img/ajax-loader.gif') 50% 50% no-repeat;
}

body {
    position: relative;
    -webkit-text-size-adjust: none;
    top: 0 !important;
    position: static !important;
}

body.loading {
    overflow: hidden;
}

body.loading .ajax-loading-modal {
    display: block;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section.aoj-slider {
    background: url(/static/img/sl.jpg);
    background-repeat: no-repeat;
    background-position: 50% 40%;
    background-size: cover;
    padding: 10px 0;
    height: 550px;

}

section.aoj-slider > .container {
    position: relative;
    height: 100%;
}

section.aoj-slider .as-link {
    color: #fff;
    padding: 0 5px;
}

section.aoj-slider .as-bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
}

section.aoj-slider .active {
    font-weight: bold;
}

section.as-black-nav {
    background: #0e0e10;
}

section.as-taoj {
    background: #0c3688;
}

section.as-taoj .aoj-title {
    font-family: "Rabiohead";
    font-size: 62px;
    color: #fff;
    text-align: center;
}

#text-img {
    max-width: 100%;
    padding: 5px 0;
}


#mobile-menu {
    z-index: 20;
}

#mobile-menu:not( .mm-menu ) {
    display: none;
}

#mm-open {
    color: #fff;
}

.desktop-nav {
    text-align: center;
    font-family: "Lato";
    text-transform: uppercase;
}

/*section.aoj-slider .desktop-nav ul.level-1 { margin: 0; padding: 0; list-style-type: none; }*/
/*section.aoj-slider .desktop-nav ul.level-1 li { display: inline-block; margin: 10px; position: relative; }*/
/*section.aoj-slider .desktop-nav ul.level-1 li > a { color: #fff; font-weight: 700; font-size: 16px; text-decoration: none; }*/
/*section.aoj-slider .desktop-nav ul.level-1 li > a:hover { border-bottom: 2px solid white; }*/
/*section.aoj-slider .desktop-nav ul.level-1 li.active > a { border-bottom: 2px solid white; }*/
.desktop-nav ul {
    text-align: left;
    display: inline;
    margin: 0;
    padding: 15px 4px 17px 0;
    list-style: none;
    z-index: 99;
}

.desktop-nav ul li {
    display: inline-block;
    margin-right: -4px;
    position: relative;
    padding: 10px 18px;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.desktop-nav ul li > a {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
}

.desktop-nav ul li > span {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
}

.desktop-nav ul li:hover a,
.desktop-nav ul li:hover span,
.desktop-nav ul li.active a {
    border-bottom: 2px solid white;
}

.desktop-nav ul li ul {
    padding: 0;
    position: absolute;
    top: 33px;
    left: 18px;
    width: 160px;
    box-shadow: 0 0 1px 1px rgba(130, 130, 130, 0.25);
    display: none;
    opacity: 0;
    visibility: hidden;
    -webkit-transiton: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -transition: opacity 0.2s;
}

.desktop-nav ul li ul li {
    background: #fff;
    display: block;
    padding: 0;
}

.desktop-nav ul li ul li > a {
    color: #000;
    font-size: 13px;
    display: block;
    padding: 10px 20px;
}

.desktop-nav ul li ul li:hover > a {
    color: #555;
}

.desktop-nav ul li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
}

/* PAGES */
section.aoj-page {
    font-family: 'Roboto', sans-serif;
    background: #f8f8f8;
}

/*
INDEX
*/
.page-index {
}

.page-index .aht {
    background: #fff;
    padding: 30px 0;
    text-align: center;
}

.page-index .aht h1,
.page-index .aht h2 {
    color: #555;
    font-weight: bold;
    font-family: "Rabiohead";
}

.page-index .pi-body {
    padding: 30px 0;
}

.page-index .pi-body .pi-text {
    color: #676767;
    line-height: 26px;
    font-size: 18px;
    font-weight: bold;
}

.page-index .video-box {
    margin-bottom: 20px;
}


.page-catalogue {
    padding: 30px 0;
}

.page-catalogue .product-box {
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    padding: 10px;
    background: #fff;
    margin-bottom: 30px;
    height: 160px;
}

.page-catalogue .product-box .pb-img {
    width: 43%;
    object-fit: cover;
    height: 130px;
    margin-right: 10px;
}

.page-catalogue .product-box .pb-cont-wrapper {
    overflow: hidden;
}

.page-catalogue .product-box .pb-title {
    margin-top: 0;
}

.page-catalogue .product-box .btn-add-to-cart {
}

.page-catalogue .product-box .in-cart {
    margin-bottom: 0;
    color: #6f6f6f;
    font-weight: 300;
}

/*
CART
*/
.page-cart {
    padding: 30px 0;
}

.page-cart .table {
    text-align: center;
}

.page-cart .table th {
    text-align: center;
}

/*.page-cart .table th:first-child { text-align: left; }*/
/*.page-cart .table th:last-child { text-align: right; }*/
.page-cart .table td {
    vertical-align: middle;
}

.page-cart .btn-remove-from-cart {
    color: #f44336;
}

.page-cart .btn-remove-from-cart:hover {
    color: #f40b05;
}

.page-cart .td-cart-img {
    width: 20%;
}

.page-cart .td-cart-img .img-cart-item {
}

.page-cart .td-cart-subtotal {
    width: 10%;
}

.page-cart .td-cart-qty {
    width: 15%;
}

.page-cart .cart-subtotal {
}

/*
CHECKOUT
*/
.page-checkout {
    padding: 30px 0;
}

.page-checkout .c-box {
    padding: 20px 30px;
    margin-bottom: 20px;
    border: 1px solid #d8d8d8;
    background: #fff;
}

.page-checkout .c-box.c-box-details {
}

.page-checkout .c-box.c-box-details .form-control {
    border-radius: 0;
}

.page-checkout .c-box.c-box-details label {
    font-weight: 300;
}

.page-checkout .c-box.c-box-summary .table {
    border-bottom: 1px dashed #d8d8d8;
}

.page-checkout .c-box.c-box-summary .table .td-img {
    width: 25%;
}

.page-checkout .c-box.c-box-summary .table .pr-name {
    margin-top: 0;
    font-weight: bold;
}

.page-checkout .c-box.c-box-summary .table .pr-qty {
}

.page-checkout .c-box.c-box-summary .table .pr-subtotal {
    margin-top: 0;
    text-align: right;
    font-size: 17px;
}

/*
DONATE
*/
.page-donate {
    padding: 0 0 30px;
}

.page-donate .mad {
    background: #fff;
    padding: 30px 0;
    text-align: center;
}

.page-donate .oa {
    display: none;
}

.page-donate .mad h1 {
    font-size: 48px;
    font-weight: bold;
    color: #555;
    font-family: "Rabiohead";
}

.page-donate .pd-body {
    padding: 30px 0;
}

.page-donate #form-donate .form-control {
    border-radius: 0;
}

.page-donate #form-donate label {
    font-weight: 300;
}

/*
CHILDREN
*/
.page-children {
    padding: 30px 0;
}

.page-children .country-name {
    text-align: center;
    color: #555555;
}

.page-children .child-box {
    text-align: center;
    min-height: 380px;
    margin-bottom: 35px;
}

.page-children .child-box .img-child-ava {
    height: 320px;
    width: 100%;
    object-fit: cover;
}

.page-children .child-box .child-name {
    font-weight: 300;
    margin-bottom: 0;
}

.page-children .child-box .child-checked-out {
    font-weight: 300;
}

/*
CHILDREN DETAIL
*/
.page-children-detail {
    padding: 50px 0;
}

.page-children-detail .cd-name {
    margin-top: 0;
}

.page-children-detail .c-born {
    display: inline-block;
    margin-right: 70px;
}

.page-children-detail .c-location {
    display: inline-block;
}

.page-children-detail .img-cd {
    display: inline-block;
}

.page-children-detail .cd-image-link-1 {
    margin: 0 10px 10px 0;
    display: inline-block;
}

.page-children-detail .cd-image-link-2 {
    margin: 0 0 10px 10px;
    display: inline-block;
}

.page-children-detail .cd-description {
    font-weight: 300;
    letter-spacing: 0;
    font-size: 16px;
}

.page-children-detail .cd-details-header {
    margin-bottom: 15px;
    color: #555;
}

.page-children-detail .cd-details {
    font-weight: 300;
    letter-spacing: 0;
    font-size: 16px;
    margin-bottom: 1px;
}

.page-children-detail #form-child-sponsorship {
}

.page-children-detail #form-child-sponsorship .form-control {
    border-radius: 0;
}

.page-children-detail #form-child-sponsorship .form-control.error {
    background: #f0f0f0;
    border-color: #ff1313;
}

.page-children-detail #form-child-sponsorship label {
    font-weight: 300;
}

.page-children-detail #form-child-sponsorship label.error {
    color: #FF6454;
    margin: 0;
    font-weight: normal;
    font-size: 12px;
}

/*
CONTACT
*/
.page-contact {
    padding: 30px 0;
}

.page-contact p {
    font-weight: 300;
    letter-spacing: 0;
    font-size: 16px;
}

.page-contact h3,
.page-contact h4 {
    color: #555;
}

.page-contact #form-contact .form-control {
    border-radius: 0;
}

.page-contact #form-contact .form-control.error {
    background: #f0f0f0;
    border-color: #ff1313;
}

.page-contact #form-contact label {
    font-weight: 300;
}

.page-contact #form-contact label.error {
    color: #FF6454;
    margin: 0;
    font-weight: normal;
    font-size: 12px;
}

/*
MEDIA
*/
.page-media {
    padding-bottom: 30px;
}

.page-media .aht {
    background: #fff;
    padding: 30px 0;
    text-align: center;
}

.page-media .aht h1,
.page-media .aht h2 {
    color: #555;
    font-weight: bold;
    font-family: "Rabiohead";
}

.page-media .country-name {
    text-align: center;
    color: #555555;
}

.page-media .video-box {
    margin-bottom: 20px;
}

.page-media .video-iframe {
    margin-bottom: 20px;
}

/*
MISSIONS
*/
.page-missions {
}

.page-missions .ms-header {
    background: #fff;
    text-align: center;
    padding: 30px 0;
}

.page-missions .ms-header .country-name {
    font-size: 48px;
    color: #555;
    font-weight: bold;
    font-family: "Rabiohead";
}

.page-missions .ms-header p {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5em;
    color: #676767;
    letter-spacing: .02em;
}

.page-missions .missions-content {
    padding: 40px 0;
}

.page-missions .missions-content p {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5em;
}

.page-missions .missions-content img {
    margin: 0 auto 20px;
}

.page-missions.page-guatemala {
}

/*
MAGAZINE
*/
.page-magazine {
    padding: 30px 0;
}

.page-magazine .magazine-box {
    margin-bottom: 25px;
    height: 200px;
}

.page-magazine .magazine-box .magazine-title {
    font-size: 13px;
    margin-top: 10px;
    font-weight: 300;
}

/*
MAGAZINE DETAIL
*/
.page-magazine-detail {
    padding: 40px 0;
}

/*
TEAMS
*/
.page-teams {
}

.page-teams .pt-header {
    background: #fff;
    text-align: center;
    padding: 30px 0;
}

.page-teams .pt-header .page-name {
    font-size: 48px;
    color: #555;
    font-weight: bold;
    font-family: "Rabiohead";
}

.page-teams .pt-body {
    padding: 50px 0;
}

.page-teams .pt-body .img-cs {
    margin-bottom: 30px;
}

.page-resources .afh {
    color: #757575;
    margin-bottom: 30px;
}

.page-resources .res-header {
    color: #8a8a8a;
    margin-bottom: 20px;
    font-size: 17px;
}

.page-resources .img-pdf {
    margin-right: 10px;
}

.page-resources .name-pdf {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
}

.page-resources .link-pdf {
    color: #555;
    font-weight: bold;
    font-size: 17px;
}

.page-team-blogs .ptb-name {
    color: #555;
}

.page-team-blogs .ptb-link {
    display: block;
    font-weight: bold;
    font-size: 16px;
    color: #B0B0B0;
}


.page-about {
    padding: 30px 0;
}

.page-about .pa-header {
    text-align: center;
    color: #555555;
    margin-bottom: 30px;
}

.page-about .paragraph {
    color: #676767;
}

.page-funds-policy .cccc-link {
    margin-top: 20px;
    color: #676767;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    display: block;
}

.page-staff .staff-name {
    color: #555;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 700;
}

/*
BLOG
*/
.page-blog {
    padding: 30px 0;
}

.page-blog .blog-wrapper {
    overflow: hidden;
}

.page-blog .blog-wrapper p {
    font-size: 15px;
}

.page-blog .blog-title > a {
    color: #555;
}

.page-blog-detail {
    padding: 30px 0;
}

/*
*
*/
.page-official-dedication {
    padding: 50px 0;
}

/*
FOOTER
*/

footer.aoj-footer {
    background: #e0e0e0;
    padding: 30px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

footer.aoj-footer .ft-col-title {
    color: rgb(36, 103, 141);
    font-weight: bold;
}

footer.aoj-footer ul.ft-col-ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-weight: 300;
}

footer.aoj-footer ul.ft-col-ul li {
}

footer.aoj-footer ul.ft-col-ul li > a {
    color: #5f5f5f;
    text-decoration: none;
}

footer.aoj-footer ul.ft-col-ul li > a:hover {
    color: #fff;
}

footer.aoj-footer .af-social {
    text-align: center;
    margin-top: 50px;
    color: #676767;
}

footer.aoj-footer .af-social .afs-link {
    color: #676767;
    margin: 0 10px;
}

footer.aoj-footer .af-social .afs-copy {
    margin-top: 30px;
    font-weight: 300;
}

/*
SLIDES
*/
#slides {
    display: none
}

#slides .slidesjs-navigation {
    margin-top: 5px;
}

a.slidesjs-next,
a.slidesjs-previous,
a.slidesjs-play,
a.slidesjs-stop {
    background-image: url(/static/img/btns-next-prev.png);
    background-repeat: no-repeat;
    display: block;
    width: 12px;
    height: 18px;
    overflow: hidden;
    text-indent: -9999px;
    float: left;
    margin-right: 5px;
}

a.slidesjs-next {
    margin-right: 10px;
    background-position: -12px 0;
}

a:hover.slidesjs-next {
    background-position: -12px -18px;
}

a.slidesjs-previous {
    background-position: 0 0;
}

a:hover.slidesjs-previous {
    background-position: 0 -18px;
}

a.slidesjs-play {
    width: 15px;
    background-position: -25px 0;
}

a:hover.slidesjs-play {
    background-position: -25px -18px;
}

a.slidesjs-stop {
    width: 18px;
    background-position: -41px 0;
}

a:hover.slidesjs-stop {
    background-position: -41px -18px;
}

.slidesjs-pagination {
    margin: 7px 0 0;
    float: right;
    list-style: none;
}

.slidesjs-pagination li {
    float: left;
    margin: 0 1px;
}

.slidesjs-pagination li a {
    display: block;
    width: 13px;
    height: 0;
    padding-top: 13px;
    background-image: url(/static/img/pagination.png);
    background-position: 0 0;
    float: left;
    overflow: hidden;
}

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
    background-position: 0 -13px
}

.slidesjs-pagination li a:hover {
    background-position: 0 -26px
}

#slides a:link,
#slides a:visited {
    color: #333
}

#slides a:hover,
#slides a:active {
    color: #9e2020
}

/* DASH */

#page-dash {
    padding: 30px 0;
}

/* RESPONSIVE MIN */

@media only screen and (min-width: 320px) {
}

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 768px) {
    .page-children-detail .img-cd {
        max-width: 200px;
    }
}

@media only screen and (min-width: 992px) {
    .page-children-detail .cd-image-link-1 {
        float: left;
    }

    .page-children-detail .cd-image-link-2 {
        float: right;
    }

    nav#mobile-menu {
        display: none;
    }

    #mm-open {
        display: none;
    }
}

@media only screen and (min-width: 1200px) {
    section.aoj-slider {
        height: 550px;
    }
}

/* RESPONSIVE MAX */

@media only screen and (max-width: 1199px) {
}

@media only screen and (max-width: 991px) {
    .desktop-nav {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .page-children .child-box .img-child-ava {
        height: 100%;
    }
}

@media only screen and (max-width: 479px) {
}

@media only screen and (max-width: 319px) {
}

.skiptranslate {
    display: none !important;
}

.redactor-body {
    overflow: hidden;
}

.redactor-body img {
    max-width: 100%;
}