asgiref
beautifulsoup4
Django
django-authtools
django-autotranslate
django-carton
django-ckeditor
django-colorful
django-crispy-forms
django-js-asset
django-solo
django-suit-redactor
django-wysiwyg-redactor
futures
goslate
gunicorn
Pillow
polib
psycopg2-binary
pytz
six
sqlparse
