asgiref==3.5.2
beautifulsoup4==4.5.1
Django==1.11.20
django-authtools
django-autotranslate
django-carton==1.2.1
django-ckeditor==6.0.0
django-colorful
django-crispy-forms==1.8.1
django-js-asset
django-solo==1.1.2
django-suit-redactor==0.0.4
django-wysiwyg-redactor==0.4.9.1
futures==3.0.5
goslate==1.5.4
gunicorn==20.1.0
Pillow==9.2.0
polib==1.1.0
psycopg2-binary==2.9.3
pytz==2022.2.1
six==1.12.0
sqlparse==0.4.2