{% extends 'aoj_app/demo/base.html' %}
{% load static i18n %}
{% load aoj_extras %}

{% block body_temp %}
  <!-- banner start here -->
  <section class="register_banner teamsBanner">
    {% get_desktop_nav %}
   
    <div class="teamsConsider_outer">
      <h1>TEAMS</h1>
    </div>
  </section>
  <!-- header close here -->

  <!-- calender start here -->
  <div class="calender_outer">
    <div class="container children_arm">
      <h2 class="mission_teamHadding">Mission Team Calendar</h2>
      <div class="row">
        <div class="col-md-12 cal outerCoL_item">
          <iframe frameborder="0" width="100%" data-inffuse-app="calendar_dev"
                                data-inffuse-user="81356474" data-inffuse-site="617667285506280882"
                                data-inffuse-project="fa0a5d4d-5ff8-4050-91c2-c909735bdb4d"
                                src="https://inffuse-calendar2.appspot.com/widget.html?inffuse-platform=weebly&amp;inffuse-user=81356474&amp;inffuse-site=617667285506280882&amp;inffuse-project=fa0a5d4d-5ff8-4050-91c2-c909735bdb4d"
                                style="height: 598px;">
                        </iframe>
          
        </div>
      </div>
    </div>
  </div>
  <!-- calender close here -->


  <!-- mission trip start here --> 
  <div class="missionTrip_outer">
    <div class="container children_arm">
      <table class="table">
        <thead class="thead-light">
          <tr class="missionOuter"> 
            <th scope="col">DATE</th>
            <th scope="col">MISSION TRIP</th> 
          </tr>
        </thead>
        <tbody>
          {% if object_list %}
          {% for key,val in data.items  %}
          {% if key|divisibleby:2 %}
          <tr class="trRoW_bg">
            {% else %}
            <tr>
              {% endif %}
            <td >{{ val.0|date:"D dS M Y" }} - {{ val.1|date:"D dS M Y" }}</td>
            <td>{{ val.2 }}</td> 
          </tr>
          {% endfor %}
          {% else %}
          <tr>
            <td >Fri 22nd Jan 2016 - Sat 30th Jan 2016</td>
            <td>Reno Team</td> 
          </tr>
          <tr class="trRoW_bg">
            <td>Sat 27th Feb 2016 - Sat 5th Mar 2016</td>
            <td>Newfoundlandn</td> 
          </tr>
          <tr>
            <td>Sat 2nd Apr 2016 - Sun 10th Apr 2016</td>
            <td>Bonavista Baptist, Calgary</td> 
          </tr>
          <tr class="trRoW_bg">
            <td>Fri 6th May 2016 - Fri 13th May 2016</td>
            <td>Dedication Team</td> 
          </tr>
          <tr>
            <td>Sat 18th Jun 2016 - Sat 25th Jun 2016</td>
            <td>The People's Church, NB</td> 
          </tr>
          <tr class="trRoW_bg">
            <td>Sat 2nd Jul 2016 - Sat 9th Jul 2016</td>
            <td>Port Perry Baptist</td> 
          </tr>
          <tr>
            <td>Wed 20th Jul 2016 - Thu 28th Jul 2016</td>
            <td>Zoya Ministries Inc.</td> 
          </tr>
          <tr class="trRoW_bg">
            <td>Sat 1st Oct 2016 - Sun 9th Oct 2016</td>
            <td>Calgary</td> 
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
  <!-- mission trip start here -->
  <!-- mamber start here -->

{% endblock %}