{% extends  'aoj_app/base_template.html' %}
{% load i18n staticfiles %}

{% block template_body %}
    <div class="page-about page-mission-statement">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <h1 class="pa-header">{% trans "Mission Statement" %}</h1>
                    <p class="paragraph">
                        {% blocktrans trimmed %}
                            ​Recognizing the needs of children and the fact that God loves children, that children had a
                            special place in the ministry of the Lord Jesus, The Arms of Jesus Children's Mission Inc.
                            is a Bible based, evangelical ministry committed under God to:
                        {% endblocktrans %}
                    </p>
                    <ul class="paragraph">
                        <li>{% blocktrans trimmed %}Responding to the needs of children, be they physical, emotional,
                            material, and/or spiritual.{% endblocktrans %}
                        </li>
                        <li>{% blocktrans trimmed %}Responding to the cry for help from local churches and groups of
                            believers in developing
                            and/or poor countries in their efforts to help and minister to children.
                        {% endblocktrans %}
                        </li>
                        <li>{% blocktrans trimmed %}Responding to the desire of Christians in North America and other
                            countries to reach out and help children of the world, this by:{% endblocktrans %}
                            <ul>
                                <li>{% trans "Providing the opportunity for prayer support." %}</li>
                                <li>{% trans "Providing the opportunity for financial support." %}</li>
                                <li>{% trans "Providing the opportunity for Christian service." %}</li>
                                <li>{% trans "Providing a credible means whereby children can be helped." %}</li>
                                <li>{% trans "Providing food for the hungry." %}</li>
                                <li>{% trans "Providing water for the thirsty." %}</li>
                                <li>{% trans "Providing homes for the homeless." %}</li>
                                <li>{% trans "Providing healing for the sick." %}</li>
                                <li>{% blocktrans trimmed %}Providing opportunities for teens from Canada and the U.S.
                                    to visit various countries and to participate in doing medical work, construction,
                                    relief, development and evangelism.{% endblocktrans %}
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <p class="paragraph">{% blocktrans trimmed %}We recognize that many people have a real burden, a
                        need to reach out to, and help children but
                        do not know where to start, or what to do. The Arms of Jesus Children's Mission will
                        facilitate such a need.{% endblocktrans %}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}