{% extends  'aoj_app/base_template.html' %}
{% load i18n staticfiles %}

{% block template_body %}
    <div class="page-about page-staff">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <h1 class="pa-header">{% trans "Staff" %}</h1>
                    <h4 class="staff-name">Dr. Samuel R. Martin: Founder/Director</h4>
                    <h4 class="staff-name">Mrs. Doreen Hayes: Accounts</h4>
                    <h4 class="staff-name">Mrs. Barbara Raby: Office manager & Child Sponsorship</h4>
                    <h4 class="staff-name">Mrs. Tracy Savage: Mission Team Liaisons' & Accounts Assistant</h4>
                    <h4 class="staff-name">​Mrs. Sylvia Mejia: Spanish Translation Dept.</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}