{% extends  'aoj_app/base_template.html' %}
{% load i18n staticfiles %}

{% block template_body %}
    <div class="page-about page-what-we-believe">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <h1 class="pa-header">{% trans "What We Believe" %}</h1>
                    <ul class="paragraph">
                        <li>
                            {% blocktrans trimmed %}
                                The Bible to be the complete Word of God; that the sixty-six books, as originally
                                written,
                                comprising the Old and New Testament were inspired by the Spirit of God and therefore
                                are
                                entirely free from error; that the Bible is the final authority in all matters of faith
                                and
                                practice and the true basis of Christian union.
                            {% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans trimmed %}
                                That there is One God, Creator of all, Holy Sovereign, Eternal existing in the three
                                equal
                                persons, the Father, the Son, and the Holy Spirit.
                            {% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans trimmed %}
                                In the absolute and essential deity of Jesus Christ, in His eternal existence in pre
                                incarnate glory, in His virgin birth, sinless life, substitutionary death, bodily
                                resurrection, triumphant resurrection, mediatory ministry and personal return.
                            {% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans trimmed %}
                                In the absolute deity and personality of the Holy Spirit who convinces of sin, or
                                righteousness and judgement; who regenerates, sanctifies, illuminates and comforts those
                                who believe in Jesus Christ.
                            {% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans trimmed %}
                                That Man was divinely created in the image of God; that he sinned, becoming guilty
                                before God, resulting in total depravity, thereby incurring physical and spiritual
                                death.
                            {% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans trimmed %}
                                That Salvation is by the sovereign grace of God; that by the appointment of the father,
                                Christ voluntarily suffered a vicarious, expiratory and propitiatory death; that
                                justification is by faith alone in the all-sufficient sacrifice and resurrection of the
                                Lord
                                Jesus Christ.
                            {% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans trimmed %}
                                In the Personal, Bodily and Glorious Return of the Lord Jesus Christ; in the Bodily
                                Resurrection of the just and the unjust; in the blessedness of the redeemed and in the
                                judgement and conscious punishment of the wicked.
                            {% endblocktrans %}
                        </li>
                        <li>
                            {% blocktrans trimmed %}
                                That it is the responsibility of the Local Church to continue the task of World
                                Evangelization and the responsibility of Each Believer to give themselves to the
                                fulfilling
                                the Great Commission.
                            {% endblocktrans %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}