/* about page css start */
    .policy_item { 
        text-align: center;
        margin-top: 98px;
    }
    .policy_item h2 {
        padding-bottom: 40px !important;
        margin: 0;
        font-size: 48px;
        font-family: 'Proxima Nova Alt Rg';
    }
    p.policy_paragraph {
        color: #343136;
        font-size: 22px;
        line-height: 36px;
        font-family: 'Proxima Nova Rg';
        margin: 0;
        padding: 0 58px !important;
        padding-bottom: 66px !important;
    }
    p.policy_tagLine {
        font-size: 24px;
        line-height: 60px;
        color: #343136;
        margin: 0;
        font-family: 'Proxima Nova Rg';
    }
    .mamber_policy {
        margin-top: 168px;;
    }
    .policy_banner {
        background: url(../images/aboutpolicy_bbanner.jpg) !important;
        position: relative;
        height: 552px !important;
        background-repeat: no-repeat !important;
        background-size: cover !IMPORTANT;
        background-position: bottom center !IMPORTANT;
    }
    .policy_banner .banner_outer{
        padding: 150px 150px !IMPORTANT;
    }
    .policy_banner:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
    } 


    .history_item p {
        font-size: 22px;
        line-height: 36px;
        color: #343136;
        font-family: 'Proxima Nova Rg';
        margin: 0;
    }
    .history_item h2 {
        padding-bottom: 40px !important;
        margin: 0;
        font-size: 48px;
        font-family: 'Proxima Nova Rg';
        text-align: center;
    }

    .history {
        margin-top: 110px;
        position: relative;
    }




    .mission_statment {
        margin-top: 110px;
        position: relative;
    }
    .mission_outer h2 {
        padding-bottom: 40px !important;
        margin: 0;
        font-size: 48px;
        font-family: 'Proxima Nova Rg';
        text-align: center;
    }
    .mission_list ul{
    padding-left: 50px !IMPORTANT;
    }
    .mission_outer p {
        font-size: 22px;
        line-height: 36px;
        color: #343136;
        font-family: 'Proxima Nova Rg';
        margin: 0;
    }
    .mission_list ul li {
        font-size: 22px;
        line-height: 36px;
        color: #343136;
        margin: 0;
        padding-bottom: 6px !important;
        font-family: 'Proxima Nova Rg';
    }
    ul.list_test {
        padding-left: 42px !important;
        margin-bottom: 8px;
    }
    .mamber_misson {
        margin-top: 80px;
    }


    .staff_img img {
        width: 100%;
    }
    .staff_item {
        padding: 0 10px !important;
    }
    .staff_hadding h5 {
        font-size: 24px;
        line-height: 28px;
        color: #000000;
        font-family: 'Proxima Nova Alt Rg';
        text-align: center;
        padding-top: 20px !important;
        padding-bottom: 13px !important;
        margin: 0;
    }
    .staff_hadding p {
        margin: 0;
        font-size: 18px;
        line-height: 24px;
        color: #000000;
        font-family: 'Proxima Nova Alt Rg';
        text-align: center;
        padding-bottom: 7px !IMPORTANT;
    }
    .staff h2 {
        font-size: 48px;
        line-height: 60px;
        color: #000000;
        text-align: center;
        font-family: 'Proxima Nova Alt Rg';
        margin: 0;
        padding-top: 80px !important;
        padding-bottom: 26px !important;
    }



    .behave_outer h2 {
        font-size: 48px;
        line-height: 60px;
        color: #000000;
        text-align: center;
        font-family: 'Proxima Nova Rg';
        margin: 0;
        padding-top: 100px !important;
        padding-bottom: 46px !important;
    }
    .behave_outer ul li {
        font-size: 22px;
        line-height: 36px;
        color: #000000;
        padding-bottom: 40px !important;
        font-family: 'Proxima Nova Rg';
    }
/* about page css close */
    .our_policy .policy_item h2{
        font-family: 'Proxima Nova Rg';
    }

    /* about history page css close */
    .about_history{
        padding-top: 95px !important;
        text-align: center;
    }
    /* about history page css close */
/* Login page css Start */
    .sbmt_btn_login{
    font-size: 18px;
    font-family: 'Proxima Nova Rg';
    color: #fffefe;
    background: #0c3688;
    padding: 10px;
    width: 100%;
    height: 57px;
    margin-top: 13px;
    border-radius: 12px !important;
    text-transform: uppercase;       
    }
    .main_form_login {
    width: 50%;
    margin: 0 auto !IMPORTANT;
    padding-top: 20px !IMPORTANT;
    }
    .main_form_login .form-group p {
    text-align: center;
    font-size: 22px;
    font-family: 'Proxima Nova Rg';
    padding-top: 5px !IMPORTANT;
    }
    .main_form_login .form-group p a{
    color: #0056ff; 
    text-decoration: none;
    padding-left: 8px !IMPORTANT;
    }
    .contact_banner{
    background: url(../images/contact_banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;  
    }
    .contact_banner .banner_outer{
    padding: 160px 150px !IMPORTANT;   
    }
    .mailing_address{
    margin-left: 0px !IMPORTANT;
    margin-right: 0px !IMPORTANT;
    }
    .contact_page_frm {
    padding: 90px 0px !IMPORTANT;
    padding-bottom: 20px !IMPORTANT;
    }
    .contact_page_frm h3 {
    font-size: 36px;
    font-family: 'Proxima Nova Bl';
    }
    .mailing_address h4{
    font-size: 24px;  
    font-family: 'Proxima Nova Bl';
    color: #000; 
    padding-top: 20px !important;
    padding-bottom: 8px !IMPORTANT;
    }
    .mailing_address p {
    margin-bottom: 0px;
    font-size: 22px;
    color: #343136;
    font-family: 'Proxima Nova Rg';
    }
    .mailing_address p a{
    margin-bottom: 0px;
    font-size: 22px;
    color: #343136;
    text-decoration: none;
    font-family: 'Proxima Nova Rg';
    }
    .mailing_address h4 a{
    color: #343136;
    text-decoration: none;  
    }
    .send_message_form .form-group label{
    width: 100%;
    color: #343136;
    font-size: 18px;
    font-family: 'Proxima Nova Rg';
    }
    .send_message_form .form-group input{
    width: 100%;
    border: 1px solid #d6e1e5;
    padding: 10px !IMPORTANT;
    border-radius: 4px;
    }
    .send_message_form .form-group input:focus-visible{
    outline: none;
    }
    .send_message_form .form-group{
    margin-bottom: 10px;
    }
    .send_message_form form {
    padding-top: 60px !important;
    }
    .send_message_form .form-group textarea {
    width: 100%;
    border: 1px solid #d6e1e5;
    padding: 10px !IMPORTANT;
    border-radius: 4px;
    min-height: 120px;
    }
    .send_message_form .form-group textarea:focus-visible{
    outline: none;
    }
    .send_mesg {
    border: none !IMPORTANT;
    background: #f7941d;
    width: 200px !IMPORTANT;
    padding-left: 30px !IMPORTANT;
    color: #fff;
    font-size: 14px;
    font-family: 'Proxima Nova Bl';
    height: 50px;
    margin-top: 22px;
    }
    .mission_usa_address{
    border-top: 1px solid #ebebeb;
    width: 90%;
    padding-top: 40px !IMPORTANT;
    margin-top: 20px;   
    }
    .main_btm{
    border-top: 1px solid #ebebeb;
    width: 90%;
    padding-top: 20px !IMPORTANT;
    margin-top: 20px !IMPORTANT;
    }
/* Login page css End */

/* Children Page CSS Start */
.child_banner{
    background: url(../images/child_banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
.child_banner .banner_outer{
    padding: 100px 150px !IMPORTANT;
}
.child_circle img{
    border-radius: 380px;
    width: 85%;
    height: 250px;
    background-position: top;
    background-size: cover;
    object-fit: cover;
}
.child_circle {
    text-align: center;
}
.gutenemala_text{
    text-align: center;
}
.gutenemala_text h2{
    font-size: 48px;
    color: #000000;
    font-family: 'Proxima Nova Rg';
}
.gutenemala_text {
    text-align: center;
    padding-top: 100px !IMPORTANT;
    padding-bottom: 50px !IMPORTANT;
}
.child_circle h5{
    font-size: 24px;
    color: #343136;
    padding-top: 30px !IMPORTANT;
    font-family: 'Proxima Nova Rg';
}
.child_circle p{
    font-family: 'Proxima Nova Rg';
    font-size: 18px;
    color: #343136;
}
/* Children Page CSS End */
/* ---Children Page CSS Start--- */
.catalog_banner{
    background: url(../images/catalog-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

/* ---Children Page CSS End--- *

/* ---Catalog Page CSS Start--- */
.catalog_banner .banner_outer{
    padding: 140px 150px !IMPORTANT;
}
.catalog_section {
    width: 90%;
    margin: 0 auto;
    border: 1px solid #ebebeb;
    text-align: center;
    margin-bottom: 40px;
}
.catalog_section img {
    width: 100%;
}
.toy_section {
    padding: 20px !important;
}
.toy_section p {
    font-size: 18px;
    margin-bottom: 0px;
}
.add_to_cart{
    font-size: 18px;
    color: #ffffff;
    background: #f7941d;
    padding: 20px;
}
/* ---Catalog Page CSS End--- */