{% extends  'aoj_app/base_template.html' %}
{% load i18n staticfiles %}

{% block template_body %}
    <div class="page-missions page-kenya">
        <section class="ms-header">
            <h1 class="country-name">Kenya</h1>
            <p>{% trans "Capital" %}: Nairobi<br>
                {% trans "Population" %}: 37 million (43% 0-14 years)<br>
                {% trans "Life expectancy" %}: 55 years<br>
                {% trans "HIV/AIDS prevalence" %}: 6.7% (1.2 million persons)<br>
                {% trans "Official Language" %}: English, Swahili<br>
                {% trans "Location" %}: East Africa<br>
                AOJ Ministry: Since 1990​</p>
        </section>
        <section class="missions-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <p class="paragraph">
                            {% blocktrans trimmed %}
                                The mission in Kenya began with a small sponsorship program, seeking to
                                provide care for 9 orphans in the Mathare Valley, a slum in Nairobi. The Arms of Jesus
                                Children's Mission now supports children in Greater Nairobi through partnership
                                agreements
                                with various local church and non-governmental organizations who administer the funds
                                directed to children's homes and school sponsorhip programs.
                            {% endblocktrans %}
                        </p>
                        <h2>{% trans "Ministry Partners" %}</h2>
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="paragraph"><strong>{% trans "Program Partners" %}</strong></p>
                                <p class="paragraph">AIM International, Baringo & Kajiado</p>
                                <p class="paragraph">Redeemed Gospel Church, Korogocho, Nairobi</p>
                                <p class="paragraph">Kariobangi Baptist Youth Center/Highridge Academy, Nairobi</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="paragraph"><strong>{% trans "Director" %}</strong></p>
                                <p class="paragraph">John Ole Karrinkai</p>
                                <p class="paragraph">Magdaline Gitahi</p>
                                <p class="paragraph">Euticauls Wambua Nzengu</p>
                            </div>
                        </div>

                        <h2>Featured Partner</h2>
                        <p class="paragraph">
                            <strong>{% trans "Kariobangi Baptist Youth Center/Highridge Academy" %}</strong></p>
                        <p class="paragraph">
                            {% blocktrans trimmed %}
                                KBYC was started in 1984 by Pastor David Kiatu as a vocational training
                                center, where unemployed youth were taught marketable skills such as woodwork for the
                                boys
                                and dressmaking for the girls. KBYC is located on reclaimed land which used to be a
                                quarry
                                right next to one of the biggest garbage dumps in greater Nairobi. In fact you can stand
                                in
                                the school yard and watch local entrepreneurs sorting through the garbage for plastic
                                bags
                                which they wash in a filthy stream so that they can sell them for a few pennies.
                            {% endblocktrans %}
                        </p>
                        <br>
                        <p class="paragraph">
                            {% blocktrans trimmed %}
                                In 2002 Pastor Euticauls Wambua, a graduate of the KBYC trade school,
                                returned to the center and along with Pastor Kiatu, started a non-formal elementary
                                school -
                                Highridge Baptist Academy. They started with just a few preschool-age children and added
                                one
                                new class each year, inducting new preschoolers while continuing to cater to the
                                children
                                already enrolled. The school now has facilities for baby through class 4 and there are
                                210
                                students enrolled. The youth center and the school operate on faith, with no government
                                funding. When the funds run low, teachers are not paid and children have to survive
                                without
                                their lunch that is normally part of the program. It costs the school approximately
                                $400.00
                                per month alone to maintain the lunch program. When I visited them recently, they had
                                sufficient rice and beans to feed the children for 10 days and no more money to buy food
                                after that.
                            {% endblocktrans %}
                        </p>
                        <br>
                        <p class="paragraph">{% trans "Yet everyone at KBYC is content, confident that God will provide" %}</p>
                        <br>
                        <p class="paragraph">
                            {% blocktrans trimmed %}
                                If you feel called to support one of the children for whom the staff of
                                KBYC/Highridge Academy are caring, please
                            {% endblocktrans %}
                            <a href="{% url 'contact' %}">{% trans "contact us" %}.</a>
                        </p>
                        <hr>
                        <h2>{% trans "Missionary Profiles" %}</h2>
                        <p class="paragraph">
                            ​{% blocktrans trimmed %}
                            The Arms of Jesus Children's Mission is pleased to sponsor Maureen Aderoh.
                        {% endblocktrans %}
                        </p>
                        <p class="paragraph"><strong>{% trans "Sponsored Teacher" %}</strong><br>
                            Maureen Aderoh Adhiambo, My Story<br>
                            <strong>Nairobi, January 18, 2010 </strong></p>

                        <p class="paragraph">​
                            {% blocktrans trimmed %}
                                My name is Aderoh Adhiambo Maureen, born on 29th
                                September 1985, a born-again Christian, I love the Lord as my personal Savior.
                            {% endblocktrans %}</p>
                        <p class="paragraph">
                            ​{% blocktrans trimmed %}
                            I come from Kisumu (Nyanza Province) at a place called
                            Nyahera.
                        {% endblocktrans %}</p>
                        <img src="{% static 'img/kenya/6709885_orig.jpg' %}" alt="" class="img-responsive pull-right"
                             style="margin: 10px 0 10px 10px;">
                        <p class="paragraph">​{% blocktrans trimmed %}My dad's name is Jonah Racho Aderoh; he is a
                            teacher. My mum's name is
                            Millicent Atieno Aderoh, a business-woman.{% endblocktrans %}</p>
                        <br>
                        <p class="paragraph">​{% blocktrans trimmed %}In my family, we are five children and I am the
                            first-born. Our second-born
                            is George Kevin Aderoh and he finished Form Four last year. Third-born is Pauline Sharon
                            Aderoh; she is in Form One. Fourth-born is Mercy Awour Aderoh; she is also in Form One.
                            Last-born is Derrick James Aderoh; he is in Class Four.{% endblocktrans %}</p>
                        <br>
                        <p class="paragraph">
                            ​{% blocktrans trimmed %}
                            I used to live in Kitale and went to school at Kitale Academy Primary School. I finished my
                            primaty education in the year 2000 and attained 345 marks. I went to Manor House High School
                            in 2001 and left there in 2004. Later I went back to Greenfields Girl's School to repeat
                            Form Four in 2005. In 2006, I went to Oson's Business Management in Naivasha to study
                            computer packages. In 2007, I went to Kitale Technical Training Institute (KTTI) for a
                            certificate in IT. I was to continue with my diploma in Information Technology, but my dad
                            lost his job and my siblings needed school fees; so it was hard for me to continue my
                            studies. I started to look for a job with the little knowledge that I had, in order to save
                            money so that I could go back to college. This was not possible, so I gave up college in
                            2007.
                        {% endblocktrans %}
                        </p>
                        <br>
                        <p class="paragraph">
                            ​{% blocktrans trimmed %}
                            It has been so hard for me and my family in rural Kenya, as my dad has not succeeded in
                            finding another job and my brother need funds to go to college and there is no money.
                        {% endblocktrans %}
                        </p>
                        <br>
                        <p class="paragraph">
                            ​{% blocktrans trimmed %}
                            It is my prayer that one day, God is going to answer my prayers and i will be able to return
                            to college so that I can study in order to build my future.
                        {% endblocktrans %}
                        </p>
                        <br>
                        <p class="paragraph">
                            ​{% blocktrans trimmed %}
                            I am really inspired to be a computer techician in the future and I believe God is going to
                            see me through this dream by his grace. Above all, I thank God for how far He has brought
                            me, because He is EBENEZER and His mercies endure for ever.
                        {% endblocktrans %}
                        </p>
                        <br>
                        <p class="paragraph">
                            ​{% blocktrans trimmed %}
                            I love the children of God and I am glad to have the opportunity to serve them at the Youth
                            Center in the slums of Korogocho.
                        {% endblocktrans %}
                        </p>
                        <p class="paragraph"><strong><i>Maureen Aderoh Adhiambo</i></strong></p>
                        <div class="text-center" style="margin-top: 30px;">
                            <a class="btn btn-aoj" href="{% url 'contact' %}">{% trans "CONTACT US" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}