{% extends "aoj_app/base_template.html" %}

{% block template_body %}
  <div id="page-dash">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <ul class="nav nav-pills nav-stacked">
            <li class="{% if request.resolver_match.view_name == "dashboard:orders" %}active{% endif %}">
              <a href="{% url "dashboard:orders" %}">ORDERS</a></li>
            <li class="{% if request.resolver_match.view_name == "dashboard:profile" %}active{% endif %}">
              <a href="{% url "dashboard:profile" %}">PROFILE</a></li>
            <li class="{% if request.resolver_match.view_name == "dashboard:password" %}active{% endif %}">
              <a href="{% url "dashboard:password" %}">CHANGE PASSWORD</a></li>
          </ul>
        </div>
        <div class="col-lg-9">
          {% block dash_body_block %}

          {% endblock %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}