{% extends  'aoj_app/demo/base.html' %}
{% load i18n staticfiles %}
{% load aoj_extras %}

{% block body_temp %}
{% get_desktop_nav %}

    <div class="page-blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    {% if object_list %}
                        {% for entry in object_list %}
                            <div>
                                <h2 class="blog-title">
                                    <a href="{% url 'blog_detail' entry.slug %}">{{ entry.title }}</a></h2>
                                <p class="text-muted">{{ entry.created_date|date:"SHORT_DATE_FORMAT" }}</p>
                                <div class="blog-wrapper">
                                    {% autoescape off %}
                                        {{ entry.body }}
                                    {% endautoescape %}
                                    <div class="clearfix"></div>
                                    <div>
                                        <div class="fb-like"
                                             data-href="http://www.armsofjesus.org{% url 'blog_detail' entry.slug %}"
                                             data-layout="button_count" data-action="like" data-size="small"
                                             data-show-faces="true"
                                             data-share="false"></div>
                                        <a class="twitter-share-button"
                                           href="https://twitter.com/intent/tweet?text={{ entry.title }} - The Arms of Jesus Children's Mission ">
                                            Tweet</a>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        {% endfor %}

                        {% if is_paginated %}
                            <div class="pagination">
                        <span class="page-links">
                            {% if page_obj.has_previous %}
                                <a href="{% url 'blog' %}?page={{ page_obj.previous_page_number }}">{% trans "Previous" %}</a>
                            {% endif %}
                            <span class="page-current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>
                            {% if page_obj.has_next %}
                                <a href="{% url 'blog' %}?page={{ page_obj.next_page_number }}">{% trans "Next" %}</a>
                            {% endif %}
                        </span>
                            </div>
                        {% endif %}
                    {% else %}
                        <h1 class="text-center">{% trans "THERE ARE NO ENTRIES" %}</h1>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}