{% extends  'aoj_app/base_template.html' %}
{% load i18n %}

{% block template_body %}
    <div class="page-cart">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    {% if cart.items %}
                        <table class="table">
                            <thead>
                            <tr>
                                <th>{% trans "ITEMS" %}</th>
                                <th></th>
                                <th>{% trans "PRICE" %}</th>
                                <th>{% trans "QTY" %}</th>
                                <th>{% trans "DELETE" %}</th>
                                <th>{% trans "TOTAL" %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in cart.items %}
                                <tr>
                                    <td class="td-cart-img">
                                        {% if item.product.image %}
                                            <img class="img-responsive img-cart-item" src="{{ item.product.image.url }}"
                                                 alt="">
                                        {% endif %}
                                    </td>
                                    <td>
                                        <h5 class="cart-pr-name">{{ item.product.name }}</h5>
                                    </td>
                                    <td>
                                        <h5>${{ item.product.price }}</h5>
                                    </td>
                                    <td class="td-cart-qty">
                                        <div class="input-group">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default btn-number btn-qty-dec"
                                                data-type="minus" data-id="{{ item.product.id }}">
                                            <span class="glyphicon glyphicon-minus"></span>
                                        </button>
                                    </span>
                                            <input type="text" class="form-control input-number cart-qty-input"
                                                   value="{{ item.quantity }}" min="1" max="10"
                                                   data-id="{{ item.product.id }}">
                                            <span class="input-group-btn">
                                        <button type="button" class="btn btn-default btn-number btn-qty-inc"
                                                data-type="plus" data-id="{{ item.product.id }}">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </span>
                                        </div>
                                    </td>
                                    <td>
                                        <a class="btn-remove-from-cart" data-id="{{ item.product.id }}"
                                           href="javascript:void(0)">
                                            <i class="fa fa-times-circle fa-2x" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                    <td class="td-cart-subtotal">
                                        <h5 class="cart-subtotal" data-id="{{ item.product.id }}">
                                            $<span>{{ item.subtotal }}</span></h5>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <h3 class="text-right">{% trans "TOTAL" %}: $<span id="cart-total">{{ cart.total }}</span></h3>
                        <a class="btn btn-aoj pull-right" href="{% url 'checkout' %}">{% trans "Checkout" %}</a>
                    {% else %}
                        <h2>{% trans "THE CART IS EMPTY" %}</h2>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}