{% extends  'aoj_app/base_template.html' %}
{% load static i18n %}

{% block template_body %}
    <div class="page-children">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <h4 class="text-center">
                        {% trans "You can sponsor a child for $40.00 a month or $480 a year... Just $1.32 per day" %}
                    </h4>
                    {% for country in object_list %}
                        {% if country.children_set.count > 0 %}
                            <h1 class="country-name">{{ country.name }}</h1>
                            <hr>
                            <div class="row">
                                {% for children in country.children_set.all %}
                                    <div class="col-sm-6 col-md-3">
                                        <div class="child-box">
                                            {% if not children.checked_out %}
                                                <a href="{{ children.get_absolute_url }}">
                                                    <img class="img-responsive img-child-ava"
                                                         src="{{ children.get_avatar }}" alt="">
                                                </a>
                                            {% else %}
                                                <img class="img-responsive img-child-ava"
                                                     src="{{ children.get_avatar }}" alt="">
                                            {% endif %}
                                            <p class="child-name">{{ children.get_short_name }}</p>
                                            <p class="child-checked-out">
                                                {% if children.checked_out %}
                                                    {% trans "Checked out with Potential Sponsor" %}
                                                {% else %}
                                                    {% trans "Available to Sponsor" %}
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}