{% extends  'aoj_app/base_template.html' %}
{% load staticfiles i18n %}

{% block template_body %}
    <div class="page-index">
        <section class="aht">
            <h1>"{% trans "And He took the children in His arms, <br> put His Hands on them and blessed them." %}"​</h1>
            <h2>{% trans "​Mark 10:16" %}</h2>
        </section>
        <section class="pi-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <div class="text-center">
                            <img src="{% static 'img/ii1.jpg' %}" alt="">
                            <img src="{% static 'img/ii2.png' %}" alt="">
                            <img src="{% static 'img/ii3.jpg' %}" alt="">
                        </div>
                        <h1 class="text-center">{% trans "​About AOJ" %}</h1>
                        <p class="text-center pi-text">
                            {% blocktrans trimmed %}
                            We recognize the needs of children around the world and the fact that God loves children and
                            that they had a special place in the ministry of the Lord Jesus, The Arms of Jesus
                            Children's Mission Inc. is a Bible
                            based, evangelical ministry committed under God to respond to the needs of children, be they
                            physical,
                            emotional, material, and/or spiritual.
                            In responding to the cry for help from local churches and groups of believers in developing
                            and/or poor
                            countries in their efforts to help and minister to children.
                            As well as responding to the desire of Christians in North America and other countries to
                            reach out and
                            help children of the world. We recognize that many people have a real burden, a need to
                            reach out to,
                            and help children but do not know where to start, or what to do. The Arms of Jesus
                            Children's Mission
                            will facilitate such a need.​
                            {% endblocktrans %}
                        </p>
                        <div class="text-center">
                            <img style="margin: 20px 0;" src="{% static 'img/index-Jesus.png' %}" alt="">
                        </div>
                        <h1 class="text-center">{% trans "Our Vision" %}</h1>
                        <p class="text-center pi-text">
                            {% blocktrans trimmed %}
                            The Arms of Jesus Children’s Mission will develop the SPIRITUAL, EMOTIONAL, EDUCATIONAL and
                            PHYSICAL areas in each girl and boy, with the objective to form Christian leaders so that
                            they can become agents of positive change in their family, community and country.
                            {% endblocktrans %}
                        </p>
                        <div class="text-center">
                            <img style="margin: 20px 0;" src="{% static 'img/index-people.png' %}" class="img-responsive" alt="">
                        </div>
                        <div class="text-center" style="padding: 20px 0;">
                            <a class="btn btn-aoj" href="{% url 'our_history' %}">{% trans "LEARN MORE ABOUT US" %}</a>
                        </div>
                        <div class="text-center" style="padding: 20px 0;">
                            <div class="fb-like"
                                 data-href="https://www.facebook.com/ArmsOfJesus"
                                 data-layout="button_count" data-action="like" data-size="small"
                                 data-show-faces="true"
                                 data-share="true"></div>
                        </div>
                        {% if latest_post %}
                        <div class="text-center">
                            <img src="{% static 'img/mission-moments.jpg' %}" alt="" class="img-responsive">
                        </div>
                        <h1 class="text-center">{% trans "Latest Posting" %}</h1>
                        <h3><a href="{% url 'blog_detail' latest_post.slug %}"
                               style="color: #555;">{{ latest_post.title }}</a></h3>
                        <img src="{{ latest_post.get_first_image }}" alt="" class="img-responsive pull-left"
                             style="margin: 0 15px 15px 0;">
                        <p class="paragraph">{{ latest_post.body|striptags|truncatechars:400 }}</p>
                        <div class="clearfix"></div>
                        <div class="text-center" style="padding: 20px 0;">
                            <a class="btn btn-aoj" href="{% url 'blog' %}">{% trans "GO TO THE BLOG" %}</a>
                        </div>
                        {% endif %}
                        <hr>

                        <h1 class="text-center">{% trans "Latest News" %}</h1>
                        <a href="{% url 'school_official_dedication' %}">
                            <h4 style="color: #555;">{% trans "May 2016 Official Dedication" %}</h4>
                            <img src="{% static 'img/6924780.jpg' %}" class="img-responsive" alt="">
                        </a>
                        <hr>

                        <h1 class="text-center" style="margin: 30px 0;">{% trans "Latest Magazines" %}</h1>
                        {% for magazine in latest_magazines %}
                            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4">
                                {% if magazine.iframe_link %}
                                    <a href="{% url 'magazine_detail' magazine.slug %}">
                                        <img class="img-responsive" src="{{ magazine.image.url }}" alt="">
                                    </a>
                                {% else %}
                                    <img class="img-responsive" src="{{ magazine.image.url }}" alt="">
                                {% endif %}
                            </div>
                        {% endfor %}
                        <div class="clearfix"></div>
                        <div class="text-center" style="padding: 20px 0;">
                            <a class="btn btn-aoj" href="{% url 'magazine' %}">{% trans "GO TO THE MAGAZINES" %}</a>
                        </div>
                        <hr>

                        <div class="text-center">
                            <a href="{% url 'children' %}">
                                <img class="img-responsive" src="{% static 'img/index-sponsor.jpg' %}"></a>
                        </div>
                        <h1 class="text-center" style="margin: 30px 0;">{% trans "Stories" %}</h1>
                        {% for country in countries %}
                            <h3 class="country-name">{{ country.name }} {% trans "Videos" %}</h3>
                            <hr>
                            <div class="row">
                                {% for video in country.media_set.all %}
                                    <div class="col-sm-4">
                                        <div class="video-box">
                                            <div class="videoWrapper">
                                                <iframe class="video-iframe" src="{{ video.get_youtube_embed_url }}"
                                                        frameborder="0" allowfullscreen></iframe>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                        {#                        <div class="text-center" style="padding: 20px 0;">#}
                        {#                            <a class="btn btn-aoj" href="{% url 'media' %}">ALL MEDIA</a>#}
                        {#                        </div>#}
                        <hr>
                        <div class="text-center">
                            <a href="https://www.facebook.com/ArmsOfJesus" target="_blank">
                                <img src="{% static 'img/index-facebook.png' %}" alt="">
                            </a>
                            <img src="{% static 'img/index-dsc.png' %}" alt="">
                        </div>
                        <p class="text-center pi-text" style="margin: 50px 0;">
                            {% blocktrans trimmed %}
                            Certification with CCCC is a powerful endorsement of a charity’s integrity. It demonstrates
                            that the charity has been carefully assessed by CCCC’s rigorous certification process and
                            found to be in compliance with CCCC’s Standards. Donors can give confidently and generously
                            when they see CCCC’s Seal of Accountability on a charity’s website.
                            {% endblocktrans %}
                        </p>
                        <div class="text-center">
                            <img src="{% static 'img/donate-i2.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}