{% extends  'aoj_app/demo/base.html' %}
{% load i18n staticfiles %}
{% load aoj_extras %}


{% block body_temp %}
<section class="child_banner">
    {% get_desktop_nav %}
{% comment %} {% include 'aoj_app/demo/header.html' %} {% endcomment %}
<div class="container children_arm">
    <div class="row">
      <div class="col-md-12">
        <div class="banner_outer"> 
          <h1>YOU CAN SPONSOR A CHILD FOR $40.00 A MONTH OR $480 A YEAR... JUST $1.32 PER DAY</h1>
        </div>
      </div>
    </div>
  </div>
  </section>

  <div class="haitiMission">
    <div class="container children_arm">
      <div class="haiti_hadding">
        <h2>{{ mission.name }}</h2>

        <div class="haitiHadding_btn">
          <div class="haitiHadding_btnItem">
            <p>Capital:</p>
            <a href="#">Port-au-Prince</a>
          </div>
          <div class="haitiHadding_btnItem">
            <p>Population:</p>
            <a href="#">6 884 264<br>(42% 0-14 years)</a>
          </div>
          <div class="haitiHadding_btnItem">
            <p>Life expectancy:</p>
            <a href="#">51- 65 years</a>
          </div>
          <div class="haitiHadding_btnItem">
            <p>Official Language:</p>
            <a href="#">Haitian Creole,
              French
            </a>
          </div>
          <div class="haitiHadding_btnItem">
            <p>Location:</p>
            <a href="#">Caribbean Sea
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="missionHatti_bg">
    <div class="container children_arm">
                        {% autoescape off %}
                            {{ mission.body }}
                        {% endautoescape %}

    </div>
</div>
    {% comment %} <div class="page-missions page-guatemala">
        <section class="ms-header">
            <h1 class="country-name">{{ mission.name }}</h1>
            <p>{{ mission.top_section|linebreaksbr }}</p>
        </section>
        <section class="missions-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="redactor-body">
                          {% autoescape off %}
                            {{ mission.body }}
                          {% endautoescape %}
                        </div>

                        <div class="text-center" style="margin-top: 30px;">
                            <a class="btn btn-aoj" href="{% url 'contact' %}">{% trans "CONTACT US" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div> {% endcomment %}
{% endblock %}