{% extends  'aoj_app/base_template.html' %}
{% load i18n staticfiles %}

{% block template_body %}
    <div class="page-teams page-consider-serving">
        <section class="pt-header">
            <h1 class="page-name">{% trans "Consider Serving" %}</h1>
        </section>
        <section class="pt-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                                <a class="fancy-image" rel="cs" href="{% static 'img/teams/bible-lessons_orig.jpg' %}">
                                    <img class="img-responsive img-cs"
                                         src="{% static 'img/teams/bible-lessons_orig.jpg' %}" alt="">
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a class="fancy-image" rel="cs" href="{% static 'img/teams/crafts_orig.jpg' %}">
                                    <img class="img-responsive img-cs" src="{% static 'img/teams/crafts_orig.jpg' %}"
                                         alt="">
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a class="fancy-image" rel="cs"
                                   href="{% static 'img/teams/distributing-blankets_orig.jpg' %}">
                                    <img class="img-responsive img-cs"
                                         src="{% static 'img/teams/distributing-blankets_orig.jpg' %}" alt="">
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a class="fancy-image" rel="cs"
                                   href="{% static 'img/teams/house-construction_orig.jpg' %}">
                                    <img class="img-responsive img-cs"
                                         src="{% static 'img/teams/house-construction_orig.jpg' %}" alt="">
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a class="fancy-image" rel="cs" href="{% static 'img/teams/img-7262-fotor_orig.jpg' %}">
                                    <img class="img-responsive img-cs"
                                         src="{% static 'img/teams/img-7262-fotor_orig.jpg' %}" alt="">
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a class="fancy-image" rel="cs" href="{% static 'img/teams/footwashing_orig.jpg' %}">
                                    <img class="img-responsive img-cs"
                                         src="{% static 'img/teams/footwashing_orig.jpg' %}" alt="">
                                </a>
                            </div>
                        </div>
                        <p class="paragraph text-center">{% trans "Interested in serving on a mission team?" %}​</p>
                        <div class="text-center" style="margin-top: 30px;">
                            <a class="btn btn-aoj" href="{% url 'contact' %}">{% trans "CONTACT US" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}