{% extends  'aoj_app/base_template.html' %}
{% load i18n staticfiles %}

{% block template_body %}
    <div class="page-teams page-team-blogs">
        <section class="pt-header">
            <h1 class="page-name">{% trans "Team Blogs" %}</h1>
        </section>
        <section class="pt-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <h3 class="ptb-name">Bonavista Baptist</h3>
                        <a class="ptb-link" href="https://calgarytoguatemala.wordpress.com/" target="_blank">calgarytoguatemala.wordpress.com</a>
                        <a class="ptb-link" href="http://bbcguatemalamission2012.blogspot.com/" target="_blank">bbcguatemalamission2012.blogspot.com</a>

                        <h3 class="ptb-name">Amberlea Presbyterian</h3>
                        <a class="ptb-link" href="http://amberleachurchmissions.blogspot.ca/2012" target="_blank">amberleachurchmissions.blogspot.ca/2012</a>

                        <h3 class="ptb-name">Safe Haven Worship Centre</h3>
                        <a class="ptb-link" href="http://safehavenmissionsteam.blogspot.ca/" target="_blank">safehavenmissionsteam.blogspot.ca</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}