{% extends  'aoj_app/base_template.html' %}
{% load i18n staticfiles %}

{% block template_body %}
    <div class="page-teams page-training">
        <section class="pt-header">
            <h1 class="page-name">{% trans "Training" %}</h1>
        </section>
        <section class="pt-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <div class="videoWrapper">
                            <iframe src="https://www.youtube.com/embed/A-GkgqceCT8" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}