{% load staticfiles i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block head_title %}{% trans "The Arms Of Jesus" %}{% endblock %}</title>

    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300,700' rel='stylesheet'
          type='text/css'>
    <link href="//cdn1.editmysite.com/editor/fonts/Rabiohead/font.css?2" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:700" rel="stylesheet">
    <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/fancybox/jquery.fancybox.css' %}" rel="stylesheet">
    <link href="{% static 'lib/mmenu/jquery.mmenu.all.css' %}" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    {% block include_css %}{% endblock %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

{% block body_block %}{% endblock %}

<script src='{% static 'lib/jquery/jquery-3.1.1.min.js' %}'></script>
<script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'lib/fancybox/jquery.fancybox.pack.js' %}"></script>
<script src="{% static 'lib/jquery-validate/jquery.validate.min.js' %}"></script>
<script src="{% static 'lib/mmenu/jquery.mmenu.all.min.js' %}"></script>
<script src="{% static 'lib/slidesjs/jquery.slides.min.js' %}"></script>
<script src="{% static 'js/translate.js' %}"></script>
<script src="{% static 'js/site.js' %}"></script>
<script src="//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=190291501407"></script>
<script src="https://platform.twitter.com/widgets.js"></script>
<script src="//translate.google.com/translate_a/element.js?cb=TranslateInit"></script>
{% block include_js %}{% endblock %}
</body>
</html>