{% extends "aoj_app/demo/base.html" %}
{% load i18n aoj_extras %}
{% load static %}

{% block page_title %}
{% get_site_config as config %}
{% if config.dashboard_seo_title %}
{{ config.dashboard_seo_title }}
{% else %}
The Arms of Jesus - Dashboard
{% endif %}
{% endblock page_title %}

<div class="mamber_mainOuter">
  {% block body_temp %}
  {% get_site_config as config %}
  <section class="catalog_banner" {% if config.dashboard_banner_image %}style="background-image:url({{ config.dashboard_banner_image.url }});"{% endif %}>
      {% get_desktop_nav %}
      
      <div class="container children_arm">
        <div class="row">
          <div class="col-md-12">
            <div class="banner_outer"> 
              <h1>Dashboard</h1>
            </div>
          </div>
        </div>
      </div>
    </section>
  <div id="page-dash" class="inner_dashboard dashborad-sidenav" >
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="dashboard-side-nav">
          <ul class="nav nav-pills nav-stacked ">
            <li class="{% if request.resolver_match.view_name == "dashboard:orders" %}active{% endif %}">
              <a href="{% url "dashboard:orders" %}">ORDERS</a></li>
            <li class="{% if request.resolver_match.view_name == "dashboard:profile" %}active{% endif %}">
              <a href="{% url "dashboard:profile" %}">PROFILE</a></li>
            <li class="{% if request.resolver_match.view_name == "dashboard:password" %}active{% endif %}">
              <a href="{% url "dashboard:password" %}">CHANGE PASSWORD</a></li>
          </ul>
        </div>
        </div>
        <div class="col-lg-9">
          {% block dash_body_block %}

          {% endblock %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}