{% extends "aoj_app/demo/base.html" %}
{% load i18n aoj_extras %}
{% load static %}

<div class="mamber_mainOuter">
  {% block body_temp %}
  <section class="catalog_banner">
      {% get_desktop_nav %}
      
      <div class="container children_arm">
        <div class="row">
          <div class="col-md-12">
            <div class="banner_outer"> 
              <h1>Dashboard</h1>
            </div>
          </div>
        </div>
      </div>
    </section>
  <div id="page-dash">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <ul class="nav nav-pills nav-stacked">
            <li class="{% if request.resolver_match.view_name == "dashboard:orders" %}active{% endif %}">
              <a href="{% url "dashboard:orders" %}">ORDERS</a></li>
            <li class="{% if request.resolver_match.view_name == "dashboard:profile" %}active{% endif %}">
              <a href="{% url "dashboard:profile" %}">PROFILE</a></li>
            <li class="{% if request.resolver_match.view_name == "dashboard:password" %}active{% endif %}">
              <a href="{% url "dashboard:password" %}">CHANGE PASSWORD</a></li>
          </ul>
        </div>
        <div class="col-lg-9">
          {% block dash_body_block %}

          {% endblock %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}