{% extends 'aoj_app/demo/base.html' %}
{% load static i18n %}
{% load aoj_extras %}

{% block body_temp %}
  <!-- banner start here -->
  <section class="banner policy_banner">
    {% get_desktop_nav %}
  <!-- header close here -->
    <div class="container children_arm">
      <div class="row">
        <div class="col-md-12">
          <div class="banner_outer"> 
            <h1>ABOUT US</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- banner close here -->

  
  <!-- mssion start here -->
  <div class="mission_statment">
    <div class="container children_arm">
      <div class="row">
        <div class="col-md-12">
          <div class="mission_outer">
            {% if data %}
            {% comment %} {% for data in data %} {% endcomment %}
            <h2>{{ data.title }}</h2>
            {{ data.body|safe }}
            {% comment %} {% endfor %} {% endcomment %}
            {% else %}
            <h2>Mission Statement</h2>
            <p>​Recognizing the needs of children and the fact that God loves children, that children had a special place in the ministry of 
              the Lord Jesus, The Arms of Jesus Children's Mission Inc. is a Bible based, evangelical ministry committed under God to:</p>
              <div class="mission_list">
                <ul>
                  <li>Responding to the needs of children, be they physical, emotional, material, and/or spiritual.</li>
                  <li>Responding to the cry for help from local churches and groups of believers in developing and/or poor countries in their efforts 
                    to help and minister to children.</li>
                    <li>Responding to the desire of Christians in North America and other countries to reach out and help children of the world, this by:

                      <ul class="list_test">
                        <li>Providing the opportunity for prayer support.</li>
                        <li>Providing the opportunity for financial support.</li>
                        <li>Providing the opportunity for Christian service.</li>
                        <li>Providing a credible means whereby children can be helped.</li>
                        <li>Providing food for the hungry.</li>
                        <li>Providing water for the thirsty.</li>
                        <li>Providing homes for the homeless.</li>
                        <li>Providing healing for the sick.</li>
                        <li>Providing opportunities for teens from Canada and the U.S. to visit various countries and to participate in doing medical work,
                          construction, relief, development and evangelism.</li> 
                      </ul>
                    </li>
                </ul>
                <p class="paragraph_mission1">We recognize that many people have a real burden, a need to reach out to, and help children but do not know where to start, or 
                  what to do. The Arms of Jesus Children's Mission will facilitate such a need.</p>
              </div>
              {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- mission close here -->

 
{% endblock %}