{% extends 'aoj_app/demo/base.html' %}
{% load static i18n %}
{% load aoj_extras %}

{% block body_temp %}
  <!-- banner start here -->
  <section class="register_banner mission_haittiBanner">
    {% get_desktop_nav %}
    <!-- header start here -->
    <div class="teamsConsider_outer">
      <h1>GUATEMALA MISSION</h1>
    </div>
  </section>
  <!-- header close here -->

  <!-- haiti start here -->
  <div class="haitiMission">
    <div class="container children_arm">
      <div class="haiti_hadding">
        {% if mission %}
        <h2>{{ mission.title }}</h2>
        {% else %}
        <h2>Guatemala</h2>
        {% endif %}

        <div class="haitiHadding_btn">
          <div class="haitiHadding_btnItem">
            <p>CAPITAL:</p>
            <a href="#">Guatemala City</a>
          </div>
          <div class="haitiHadding_btnItem">
            <p>POPULATION:</p>
            <a href="#">18,052,084<br>
              (December 2020)</a>
          </div>
          <div class="haitiHadding_btnItem">
            <p>LIFE EXPECTANCY:</p>
            <a href="#">72 years</a>
          </div>
          <div class="haitiHadding_btnItem">
            <p>OFFICIAL LANGUAGE:</p>
            <a href="#">Spanish</a>
          </div>
          <div class="haitiHadding_btnItem">
            <p>LOCATION:</p>
            <a href="#">Spanish</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div> 
  
  <!-- haiti close here -->

  <!-- tropical start here -->
  {% if mission %}
    <div class="tropical_outer">
      <div class="container children_arm">
        {% autoescape off %}
        {{ mission.body}}
        {% endautoescape %}
      </div>
    </div>
  {% else %}
  <div class="tropical_outer">
    <div class="container children_arm">
      <div class="row">
        <div class="col-md-6">
          <div class="tropical_leftSec">
            <p>Guatemala is a tropical country located in Central 
              America, bordering the North Pacific Ocean, between 
              El Salvador and Mexico, and bordering the Gulf of 
              Honduras(Caribbean Sea) between Honduras and 
              Belize. Having first been inhabited by the Mayan 
              civilization since the first millennium AD, Guatemala 
              was then colonized by Spain in the 1520s, and 
              ultimately gained its independence in 1821. In the 
              latter halt of the 20th century it experienced a tragic 
              36-year guerrilla war (ending in 1996), which left 
              more than 100,000 people dead and created, by 
              some estimates, some 1 million refugees. <br>
              <br>
              The country suffers a great divide between rich and 
              poor. According to 2008 estimates, more than 60% 
              of Guatemala's people live below thepoverty line, the</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="tropical_rightSec">
            <img src="{% static 'demo/images/Guatemala_img.jpg' %}" alt="">
          </div>
        </div>
      </div>

      <div class="outer_tagline">
        <p>country GDP per capita is US (placing it 77th in the world) and only 2.6% of the country's GDP is spent on education 
          (placing it 154th in the world). The vast majority of Guatemala's poor are among the Maya and indigenous population
          <br><br>
          whom we seek to serve and help. In order to help the children living in these dire circumstances and give them hope for a 
          better future, AOJ began its ministry in Guatemala with a food distribution program designed to rescue children whose 
          families were making a living by scouring the central garbage dump in Guatemala City. Then we introduced a sponsorship 
          program to better the lives of children. On top of this, various medical outreaches and clothing distribution programs were 
          introduced. In 2001, the program began providing education to young children, who otherwise would not have gone to 
          school. Now we have grown to a fully accredited elementary school, along with programs in house-building, food 
          distribution and community outreach.
          <br><br>
          More information:  <span>CIA Facebook.</span></p>
      </div>
    </div>
  </div>
  <!-- tropical close here -->

  <!-- ministries start here -->
  <div class="ministriesOuter">
    <div class="container children_arm">
      <div class="row">
        <div class="col-md-5">
          <div class="leftSec_ministrie">
            <img src="{% static 'demo/images/GuatemalaImg1.jpg' %}" alt="">
          </div>
        </div>
        <div class="col-md-7">
          <div class="rightSec_ministrie">
            <h2>​Our Ministries</h2>
            <h5>Administrators:</h5>
            <p>Mr. Gerson Geronimo: All Ministry Programs and Outreaches
              Mr. Mario Alejandro Cuellar Vasquez: Financial, Legal and Business</p>
          </div>
        </div>
        <div class="PROGRAMTagline">
          <p><span>SPONSORSHIP PROGRAM –</span> In 2020, we have more than 800 sponsored children who receive free education either 
            through our private school or a local public school. These children also get access to medical care, clothing, food and 
            other necessities that are made available through AOJ.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- ministries close here -->

  <!-- ELEMENTARY start here -->
  <div class="ELEMENTARY_outer">
    <div class="container children_arm">
      <div class="row">
        <div class="clo-md-12">
          <div class="ELEMENTARY_outerImg">
            <img src="{% static 'demo/images/Guatemala_school.jpg' %}" alt="">
          </div>
          <div class="schoolTagline">
            <p><span>ELEMENTARY SCHOOL</span>  – In 2020, we have 500 children registered in grades Junior Kindergarten to Grade 6 at our 
              private school located in Parramos, Chimaltenango. Our students get access to a unique educational environment that is 
              not available in most government public schools, such as: computer laboratory; research library; science laboratory; and, 
              music and drama programs designed to stimulate creativity and self-esteem. Furthermore, we offer English classes to all 
              grades with the dreams of becoming a full English bilingual school in the near future.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ELEMENTARY close here -->

  <!-- ELEMENTARY start here -->
  <div class="ELEMENTARY_outer">
    <div class="container children_arm">
      <div class="row">
        <div class="clo-md-12">
          <div class="ELEMENTARY_outerImg">
            <img src="{% static 'demo/images/school_Guatemala.jpg' %}" alt="">
          </div>
          <div class="schoolTagline">
            <p><span>HIGH SCHOOL</span>  – I In July of 2013, a young lady who had grown up at the School approached Dr. Martin with a very moving 
              and challenging request which can be summed up in a few words: "Please Pastor, open a High School for us." She had 
              graduated from Primary and was now in the local community High School. Pastor asked her why and her response was 
              made through tears: "We are not learning about God here! The Students are into drugs, sex and alcohol. We are not learning, 
              please help us." Later the same day, a number of parents made the same appeal to Pastor Martin and he then visited the 
              local public High School. He was shocked at what he saw. Classrooms were filthy, there was no electricity, no running water 
              and the young people were heading into rooms like cattle and it was obvious learning would be difficult. He then asked the 
              students who had graduated from the AOJ Primary School to meet him in the courtyard. There were about 50 approximately, 
              and he asked them "if the Mission opened a High School, how many would return to the Mission." One by one, 48 of the 
              Students raised their hands. Pastor shared with the Students and the parents, that he could not promise anything but we 
              certainly pray about the situation and share the vision with people. On his return to Canada, people and friends of the Mission 
              began to pray and in a very short time, the funds came in and the land was purchased. Construction was begun on a two 
              storey building, but God made it possible for it to have three levels. On May 8th 2014, a beautiful building that would facilitate 
              a tremendous Christian High School was officially dedicated, this in an answer to prayer. Young people would receive not 
              only the finest in general education, but in Christian education to enable them to become men and women of God!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ELEMENTARY close here -->

  <!-- children start here -->
  <div class="childrenOuter">
    <div class="container children_arm">
      <div class="row">
        <div class="col-md-12">
          <div class="childreOuter_img">
            <img src="{% static 'demo/images/Mission_GuatemalaImg.jpg' %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- children close here -->

  <!-- children start here -->
  <div class="childrenOuter">
    <div class="container children_arm">
      <div class="row">
        <div class="col-md-12">
          <div class="childreOuter_img">
            <img src="{% static 'demo/images/Missio_imgchildren.jpg' %}" alt="">
            <p><span>Note</span>– When the concrete was laid for the first level, really the foundation, the students wrote favorite Bible verses in the 
              concrete as a witness to the fact we were building on the word of God.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- children close here -->

  <!-- TRADE SCHOOL start here -->
  <div class="tradeOuter">
    <div class="container children_arm">
      <div class="row">
        <div class="col-md-6">
          <div class="leftSec_trade">
            <img src="{% static 'demo/images/trade_img.jpg' %}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="leftSec_trade">
            <img src="{% static 'demo/images/trade_img1.jpg' %}" alt="">
          </div>
        </div>
      </div>
      <div class="tadeTagline">
        <p><span>TRADE SCHOOL</span>– Here we provide hands-on-training for older students to learn a particular skill or trade that can 
          immediately be applied in themarketplace. Our trade school offers courses in beauty school, textile making, artisan crafts 
          and photography. With this skills, students can work immediately with a prospective employer or start their own business.</p>
      </div>
    </div>
  </div>
  <!-- TRADE SCHOOL close here -->

  <!-- TRADE SCHOOL start here -->
  <div class="tradeOuter">
    <div class="container children_arm">
      <div class="row">
        <div class="col-md-6">
          <div class="leftSec_trade">
            <img src="{% static 'demo/images/trade_img3.jpg' %}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="leftSec_trade">
            <img src="{% static 'demo/images/trade_img4.jpg' %}" alt="">
          </div>
        </div>
      </div>
      <div class="tadeTagline">
        <p><span>THOUSE BUILDING</span> – We seek out families in poor communities who are in neec of a home. These families often live in 
          shelters built with cornstalk or aluminum siding, which are built on a dirt floor with little protection from the elements. 
          Through donations, we are able to provide a modest home made of drywall that is built on a concrete floor. In 2011, we built 
          63 homes for needy families.</p>
      </div>
    </div>
  </div>
  <!-- TRADE SCHOOL close here -->

  <!-- TRADE SCHOOL start here -->
  <div class="tradeOuter">
    <div class="container children_arm">
      <div class="row">
        <div class="col-md-6">
          <div class="leftSec_trade">
            <img src="{% static 'demo/images/trade_img5.jpg' %}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="leftSec_trade">
            <img src="{% static 'demo/images/trade_img6.jpg' %}" alt="">
          </div>
        </div>
      </div>
      <div class="tadeTagline">
        <p><span>FOOD DISTRIBUTION</span> – Once a month, we provide almost 250 families a food hamper that is filled with the following 
          essentials: 1 bag of rice, 1 bag of beans, 2 bags of evaporated milk, 1 bottle of cooking oil, 1 bottle of bleach, and 2 bags of 
          a vitamin drink.</p>
      </div>
    </div>
  </div>
  <!-- TRADE SCHOOL close here -->

  <!-- TRADE SCHOOL start here -->
  <div class="tradeOuter">
    <div class="container children_arm">
      <div class="row">
        <div class="col-md-6">
          <div class="leftSec_trade">
            <img src="{% static 'demo/images/trade_img7.jpg' %}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="leftSec_trade">
            <img src="{% static 'demo/images/trade_img8.jpg' %}" alt="">
          </div>
        </div>
      </div> 
    </div>
  </div>
  <!-- TRADE SCHOOL close here -->

  <!-- COMMUNITY start here -->
  <div class="COMMUNITYOuter">
    <div class="container children_arm">
      <div class="row">
        <div class="col-md-6">
          <div class="community_leftSec">
            <p><span>COMMUNITY OUTREACH</span>– We provide our services in 
              remote areas where there is little assistance from the local 
              government or other charitable organizations. One such 
              community is Pampay, which is a village of approximately 
              70 indigenous families. Our staff regularly works in this 
              community to provide spiritual education classes, medical 
              care, and donations to the local public school. In 2008, we 
              started a sponsorship program in Pampay so now we are
              able to make sure this group of children have the help they 
              need to plan for a better future. In Parramos we opened a 
              Community Library which is meeting a tremendous need, </p>
          </div>
        </div> 
        <div class="col-md-6">
          <div class="community_rightSec">
            <img src="{% static 'demo/images/Mission_GuatemalaImg1.jpg' %}" alt="">
          </div>
        </div>
      </div>
      <p class="program1">and where programs are being offered for adults in the area of literacy.</p>
    </div>
  </div>
  <!-- COMMUNITY close here -->

  <!-- VOLUNTEER start here -->
  <div class="VOLUNTEERouter">
    <div class="container children_arm">
      <div class="row">
        <div class="col-md-12">
          <div class="VOLUNTEERouter_item">
            <p><span>VOLUNTEER OPPORTUNITIES</span>– We welcome volunteers who are looking to work with children, build homes and spread 
              the Christian message in the communities we serve. If you are interested to volunteer as part of a church, organization or 
              an individual, please contact the AOJ Canada office.</p>

              <img src="{% static 'demo/images/children_img1.jpg' %}" alt="" class="children1">
              <div class="children_outer">
                <button class="children1_btn">Contact Us</button>
              </div>
              
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <!-- VOLUNTEER close here -->

  <!-- mamber start here -->


{% endblock %}