{% extends 'aoj_app/demo/base.html' %}
{% load staticfiles i18n %}
{% load aoj_extras %}

{% block page_title %}
{% if mission %}
    {% if mission.seo_title %}
        {{ mission.seo_title}}
    {% else %}
        The Arms of Jesus
    {% endif %}
{% else %}
  The Arms of Jesus
{% endif %}
{% endblock page_title %}

{% block body_temp %}
  <!-- banner start here -->
  <section class="register_banner mission_haittiBanner" {% if mission %}{% if mission.banner_image %} style="background-image:url({{ mission.banner_image.url }});" {% endif %}{% endif %}>
    {% get_desktop_nav %}
    <div class="teamsConsider_outer">
      <h1>HAITI MISSION</h1>
    </div>
  </section>
  <!-- header close here -->

  <!-- haiti start here -->
  
  <div class="haitiMission">
    <div class="container children_arm">
      <div class="haiti_hadding">
        {% if mission %}
        <h2>{{ mission.title }}</h2>
        <div class="haitiHadding_btn">
          {% for data in attributes %}
          <div class="haitiHadding_btnItem">
            <p>{{ data.title }}:</p>
            <a href="#">{{ data.value }}</a>
          </div>
          {% endfor %}
        </div>
        {% else %}
        <h2>Haiti</h2>

        <div class="haitiHadding_btn">
          <div class="haitiHadding_btnItem">
            <p>Capital:</p>
            <a href="#">Port-au-Prince</a>
          </div>
          <div class="haitiHadding_btnItem">
            <p>Population:</p>
            <a href="#">6 884 264<br>(42% 0-14 years)</a>
          </div>
          <div class="haitiHadding_btnItem">
            <p>Life expectancy:</p>
            <a href="#">51- 65 years</a>
          </div>
          <div class="haitiHadding_btnItem">
            <p>Official Language:</p>
            <a href="#">Haitian Creole,
              French
            </a>
          </div>
          <div class="haitiHadding_btnItem">
            <p>Location:</p>
            <a href="#">Caribbean Sea
            </a>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  {% if mission %}
    <div class="missionHatti_bg">
      <div class="container children_arm">
        {% autoescape off %}
        {{ mission.body}}
        {% endautoescape %}
      </div>
    </div>
    
  {% else %}
  <div class="missionHatti_bg">
    <div class="container children_arm">
      <div class="row">
        <div class="col-md-12 col-lg-12 col-xl-6">
          <div class="haitiMission_img">
            <img src="{% static 'demo/images/HaitiMission_img.jpg' %}" alt="">
          </div>
        </div>
        
        
        <div class="col-md-12 col-lg-12 col-xl-6">
          <div class="haitimission_rightSide">
            <p>Haiti is the most densely populated country in the 
              Americas and occupies the western third of the island of 
              Hispaniola, which it shares with Dominican Republic. It is 
              also one of the poorest countries in the world and 
              historically, is a country which was dedicated to Satan in 
              1791. Of the eight million population of Haiti, 80% live in 
              poverty. Nearly 70% of the people depend on agricultural, 
              which consists mostly of small-scale subsistence farming. 
              This farming employs nearly two-thirds of those who 
              work in Haiti.
              <br>
              <br>
              More information: <span>CIA Facebook</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- haiti close here -->

  <!-- ministries start here -->
  <div class="ministries_outer">
    <div class="container children_arm">
      <div class="ministries_hadding">
        <h2>​Our Ministries</h2>
        <h6>​Director : Mr. Wilson Maitre</h6>

        <p>As a mission, we responded to a burden felt by young Haitian by the name of Mr. Wilson Maitre, who was a student at the Jamaican Bible College . With the Mission raising funds to support him and the necessary workers, a program was begun 
          in one of the poorest and most rural areas of Haiti.<br><br>This mission work today in Haiti is basically two fold:</p>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-12 col-xl-6">
          <div class="ministries_leftSec">
            <h4>Educational/Nutritional</h4>
            <p>Original Primary School BuildingThe Arms of Jesus Children's  Mission in Haiti
              operates three small schools in a remote mountainous area to the South West of capital 
              Port-au-Prince, called Cap Rouge. Residents of this area are very poor and live by 
              subsistence farming; they grow corn, peas, beans, various fruits, and coffee. 
              Their only income comes from selling their meagre harvest of produce in the nearest city, 
              Jacmel, located meagre harvest of produce in the nearest city, Jacmel, located.<br><br>
              Students of the AOJ school receive a very basic Christian education; they are also provided 
              with a hot nutritional lunch each day. This meal is often the only food the child receives 
              on a regular basis. The mission also provides the required educational materials, uniforms,
               and footwear.</p>
          </div>
        </div>
        <div class="col-md-12 col-lg-12 col-xl-6">
          <div class="rightSec_imgShool">
            <img src="{% static 'demo/images/mission_school.jpg' %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ministries close here -->

  <!-- sponsorship start here -->
  <div class="sponsorship">
    <div class="container children_arm">
      <div class="row">
        <div class="col-md-12 col-lg-12 col-xl-6">
          <div class="spon_img">
            <img src="{% static 'demo/images/Mission_childImg.jpg' %}" alt="">
          </div>
        </div>
        <div class="col-md-12 col-lg-12 col-xl-6">
          <div class="sponsorship_hadding">
            <h4>Child Sponsorship</h4>

            <p>Through a monthly sponsorship program, the poorest of 
              the poor are provided with food, clothing and where 
              possible, an education. This program is impacting families 
              in a powerful way, but without funds many go without. For 
              the many children there is no such thing as a daily bath, 
              hot meal or clean clothing. Because of the sponsorship 
              program many more children will feel the impact of our 
              help.</p>
              <div class="sponsorship_btn">
                <a href="{% url 'contact_us'%}">Contact Us</a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <!-- sponsorship close here -->

  <!-- mamber start here -->

{% endblock %}