{% extends  'aoj_app/demo/base.html' %}
{% load i18n staticfiles %}
{% load aoj_extras %}

{% block page_title %}
{% if mission %}
    {% if mission.seo_title %}
        {{ mission.seo_title}}
    {% else %}
        The Arms of Jesus
    {% endif %}
{% else %}
  The Arms of Jesus
{% endif %}
{% endblock page_title %}

{% block body_temp %}
<section class="register_banner mission_haittiBanner" {% if mission %}{% if mission.banner_image %} style="background-image:url({{ mission.banner_image.url }});" {% endif %}{% endif %}>
    {% get_desktop_nav %}
{% comment %} {% include 'aoj_app/demo/header.html' %} {% endcomment %}
<div class="container children_arm">
    <div class="row">
      <div class="col-md-12">
        <div class="banner_outer"> 
          <h1>{{ mission.name }}</h1>
        </div>
      </div>
    </div>
  </div>
  </section>

  <div class="haitiMission">
    <div class="container children_arm">
      <div class="haiti_hadding">
        <h2>{{ mission.name }}</h2>
        <div class="haitiHadding_btn">
          {% if attributes %}
          {% for data in attributes %}
          <div class="haitiHadding_btnItem">
            <p>{{ data.title }}:</p>
            <a href="#">{{ data.value }}</a>
          </div>
          {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="missionHatti_bg">
    <div class="container children_arm">
                        {% autoescape off %}
                            {{ mission.body }}
                        {% endautoescape %}

    </div>
</div>
    {% comment %} <div class="page-missions page-guatemala">
        <section class="ms-header">
            <h1 class="country-name">{{ mission.name }}</h1>
            <p>{{ mission.top_section|linebreaksbr }}</p>
        </section>
        <section class="missions-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="redactor-body">
                          {% autoescape off %}
                            {{ mission.body }}
                          {% endautoescape %}
                        </div>

                        <div class="text-center" style="margin-top: 30px;">
                            <a class="btn btn-aoj" href="{% url 'contact' %}">{% trans "CONTACT US" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div> {% endcomment %}
{% endblock %}