{% extends  'aoj_app/base_template.html' %}
{% load i18n aoj_extras %}

{% block template_body %}
    <div class="page-catalogue">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="row">
                        {% for product in object_list %}
                            <div class="col-sm-6">
                                <div class="product-box">
                                    {% if product.image %}
                                        <a class="pb-img-link fancy-image" href="{{ product.image.url }}">
                                            <img class="pb-img img-responsive pull-left" src="{{ product.image.url }}" alt=""></a>
                                    {% endif %}
                                    <div class="pb-cont-wrapper">
                                        <h4 class="pb-title">{{ product.name }}</h4>
                                        <h4>${{ product.price }}</h4>
                                        <a href="javascript:void(0);" class="btn btn-aoj btn-add-to-cart" data-id="{{ product.id }}">ADD TO
                                            CART</a>
                                        <h5 class="in-cart" data-id="{{ product.id }}">
                                        {% if product in cart %}
                                            {% trans "IN CART" %} (x{% get_product_count_in_cart product %})
                                        {% else %}
                                            &nbsp;
                                        {% endif %}
                                        </h5>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}