{% extends  'aoj_app/demo/base.html' %}
{% load i18n aoj_extras %}

{% block page_title %}
    {% if object.seo_title %}
        {{ object.seo_title}}
    {% else %}
        The Arms of Jesus
    {% endif %}
{% endblock page_title %}

{% block body_temp %}
<section class="policy_banner"{% if object.banner_image %} style="background-image:url({{ object.banner_image.url }});" {% endif %}>
  {% get_desktop_nav %}
  <div class="container children_arm">
    <div class="row">
      <div class="col-md-12">
        <div class="banner_outer"> 
          <h1>{{ object.title }}</h1> 
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="our_policy">
    <div class="container children_arm">
      <div class="row">
        <div class="col-md-12">
          <div class="policy_item">
            <h2>{{ object.title }}</h2>
            {{ object.body|safe }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}