{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% block page_title %}{% endblock page_title %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- css link -->
  <link rel="stylesheet" href="{% static 'demo/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'demo/css/custom.css' %}">
  <link rel="stylesheet" href="{% static 'demo/css/bootstrap.css' %}">

  <link rel="stylesheet" href="{% static 'demo/css/slick.css' %}">
  <link rel="stylesheet" href="{% static 'demo/css/slick-theme.css' %}">
  <link rel="stylesheet" href="{% static 'demo/css/old.css' %}">


  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

  <!-- fav link -->
  <link rel="icon" type="image/x-icon" href="{% static 'demo/images/fav.png' %}">
</head>

<body>

  {% block body_temp %}
  {% endblock %}


<div class="mamber">
  <div class="container children_arm">
    <div class="row">
      <div class="col-md-12">
        <div class="mamber_outer">
          <div class="logo_mamber">
            <img src="{% static 'demo/images/logo_mamber.png' %}" alt="">
          </div>
          <p>Certification with CCCC is a powerful endorsement of a charity’s integrity. It demonstrates    that the charity has been carefully assessed
            by CCCC’s rigorous certification process and found to be in compliance with CCCC’s Standards. Donors can give confidently and
            generously when they see CCCC’s Seal of Accountability on a charity’s website.
            </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- member close here -->




    <!-- footer start here -->
    {% include 'aoj_app/demo/footer.html' %}  
    <!-- footer close here -->


    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script src="{% static 'js/site.js' %}"></script>
    <script src="{% static 'demo/js/jquery.min.js' %}"></script>
      <!-- js link -->
      <script src="{% static 'demo/js/slick.js' %}"></script>
      <script src="{% static 'demo/js/slick.min.js' %}"></script>
      <script src="{% static 'demo/js/popper.min.js' %}"></script>
      <script src="{% static 'demo/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/translate.js' %}"></script>
      <script src="//translate.google.com/translate_a/element.js?cb=TranslateInit"></script>
      <script>
    
    
      $('.autoplay').slick({
      dots: true,
      infinite: false,
      speed: 300,
      slidesToShow: 3,
      slidesToScroll: 3,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3,
            infinite: true,
            dots: true
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
            dots: true
          }
        }
        // You can unslick at a given breakpoint now by adding:
        // settings: "unslick"
        // instead of a settings object
      ]
    });
    </script>
    </body>
    
    </html>