{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% block page_title %}{% endblock page_title %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- css link -->
  <link rel="stylesheet" href="{% static 'demo/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'demo/css/custom.css' %}">
  <link rel="stylesheet" href="{% static 'demo/css/bootstrap.css' %}">

  <link rel="stylesheet" href="{% static 'demo/css/slick.css' %}">
  <link rel="stylesheet" href="{% static 'demo/css/slick-theme.css' %}">
  <link rel="stylesheet" href="{% static 'demo/css/old.css' %}">


  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

  <!-- fav link -->
  <link rel="icon" type="image/x-icon" href="{% static 'demo/images/fav.png' %}">
</head>

<body>

  {% block body_temp %}
  {% endblock %}


<div class="mamber">
  <div class="container children_arm">
    <div class="row">
      <div class="col-md-12">
        <div class="mamber_outer">
          <div class="logo_mamber">
            <img src="{% static 'demo/images/logo_mamber.png' %}" alt="">
          </div>
          <p>Certification with CCCC is a powerful endorsement of a charity’s integrity. It demonstrates    that the charity has been carefully assessed
            by CCCC’s rigorous certification process and found to be in compliance with CCCC’s Standards. Donors can give confidently and
            generously when they see CCCC’s Seal of Accountability on a charity’s website.
            </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- member close here -->




    <!-- footer start here -->
    {% include 'aoj_app/demo/footer.html' %}  
    <!-- footer close here -->


    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script src="{% static 'js/site.js' %}"></script>
    <script src="{% static 'demo/js/jquery.min.js' %}"></script>
      <!-- js link -->
      <script src="{% static 'demo/js/slick.js' %}"></script>
      <script src="{% static 'demo/js/slick.min.js' %}"></script>
      <script src="{% static 'demo/js/popper.min.js' %}"></script>
      <script src="{% static 'demo/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/translate.js' %}"></script>
      <script src="https://translate.google.com/translate_a/element.js?cb=TranslateInit"></script>
      <script>
    
    
      $('.autoplay').slick({
      dots: true,
      infinite: false,
      speed: 300,
      slidesToShow: 3,
      slidesToScroll: 3,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3,
            infinite: true,
            dots: true
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
            dots: true
          }
        }
        // You can unslick at a given breakpoint now by adding:
        // settings: "unslick"
        // instead of a settings object
      ]
    });
    function createCookie(name, value, days) {
      var expires;
  
      if (days) {
          var date = new Date();
          date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
          expires = "; expires=" + date.toGMTString();
      } else {
          expires = "";
      }
      document.cookie = encodeURIComponent(name) + "=" + encodeURIComponent(value) + expires + "; path=/";
  }
  
  function readCookie(name) {
      var nameEQ = encodeURIComponent(name) + "=";
      var ca = document.cookie.split(';');
      for (var i = 0; i < ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0) === ' ')
              c = c.substring(1, c.length);
          if (c.indexOf(nameEQ) === 0)
              return decodeURIComponent(c.substring(nameEQ.length, c.length));
      }
      return null;
  }
  
  function eraseCookie(name) {
      createCookie(name, "", -1);
  }
  
  const googleTranslateConfig = {
      lang: "en",
  };
  
  function TranslateInit() {
  
      let code = TranslateGetCode();
      // Находим флаг с выбранным языком для перевода и добавляем к нему активный класс
      $('[data-google-lang="' + code + '"]').addClass('language__img_active');
  
      if (code == googleTranslateConfig.lang) {
      //     // Если язык по умолчанию, совпадает с языком на который переводим
      //     // То очищаем куки
           TranslateClearCookie();
      }
  
      // Инициализируем виджет с языком по умолчанию
      new google.translate.TranslateElement({
          pageLanguage: googleTranslateConfig.lang,
      });
  
      // Вешаем событие  клик на флаги
  
  }
  
  function TranslateGetCode() {
      // Если куки нет, то передаем дефолтный язык
      let lang = readCookie('googtrans') ? readCookie('googtrans') : googleTranslateConfig.lang;
      return lang.substring(-2);
  }
  
  function TranslateClearCookie() {
      eraseCookie('googtrans');
  }
  
  function TranslateSetCookie(code) {
      // Записываем куки /язык_который_переводим/язык_на_который_переводим
      createCookie('googtrans', "/auto/" + code);
  }
  
  $(function () {
      $('#text-img').attr('src', '/static/img/text-' + TranslateGetCode() + '.png');
  
      // $('a[data-google-lang]').click(function () {
      //     TranslateSetCookie($(this).attr("data-google-lang"))
      //     // Перезагружаем страницу
      //     window.location.reload();
      // });
  });
    </script>
    </body>
    
    </html>