{% extends 'aoj_app/demo/base.html' %}
{% load static %}
{% load i18n aoj_extras %}


  {% block body_temp %}
  <section class="catalog_banner">
    {% include 'aoj_app/demo/header.html' %}
    
    <div class="container children_arm">
      <div class="row">
        <div class="col-md-12">
          <div class="banner_outer"> 
            <h1>catalogue</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br>
  <br>
  <br>
  <!-- header close here -->

<!--Start Form Section-->

{% if object_list %}
 <div class="container children_arm">
  {% comment %} <div class="cartBtn_outer">
    <a href="{% url 'cart' %}">
      {% trans "Cart" %} <span id="cart-items-count">{% if items_count > 0 %}({{ items_count }})</span>{% endif %} 
    </a>
  </div> {% endcomment %}
   <div class="row catalog_section_main">
    {% for product in object_list %}
     <div class="col-md-4 col-sm-4">
      <div class="catalog_section">
         <img src="{{ product.image.url }}" alt="catalog">
         <div class="toy_section">
            <p>{{ product.name }}</p>
            <p>${{ product.price }}</p>
            <!-- <button class="add_to_cart">Add to Cart</button> -->
            <button href="javascript:void(0);" type="button" class="add_to_cart" data-id="{{ product.id }}">Add to Cart</button>
            <h6 class="in-cart text-success" data-id="{{ product.id }}">
              {% if product in cart %}
                
                  {% trans "IN CART" %} ({% get_product_count_in_cart product %})
              {% else %}
                  &nbsp;
              {% endif %}
              </h5>
          </div>
      </div>
     </div>
     {% endfor %}
     </div>
     </div>
     {% else %}
     <div class="container children_arm">
      <div class="row catalog_section_main">
     <div class="col-md-4 col-sm-4">
      <div class="catalog_section">
         <img src="{% static 'demo/images/catalog1.jpg' %}" alt="catalog">
         <div class="toy_section">
            <p>Toy for Child</p>
            <p>$35.00</p>
            <button class="add_to_cart">Add to Cart</button>
          </div>
      </div>
     </div>
     <div class="col-md-4 col-sm-4">
      <div class="catalog_section">
        <img src="{% static 'demo/images/catalog2.jpg' %}" alt="catalog">
        <div class="toy_section">
         <p>Clothes</p>
         <p>$50.00</p>
          <button class="add_to_cart">Add to Cart</button>
        </div>
     </div>
     </div>
     <div class="col-md-4 col-sm-4">
      <div class="catalog_section">
         <img src="{% static 'demo/images/catalog3.jpg' %}" alt="catalog">
        <div class="toy_section">
           <p>Running Shoes & Socks</p>
          <p>$50.00</p>
          <button class="add_to_cart">Add to Cart</button>
        </div>
      </div>
     </div>
   </div>
  <div class="row">
     <div class="col-md-4 col-sm-4">
      <div class="catalog_section">
       <img src="{% static 'demo/images/catalog4.jpg' %}" alt="catalog">
       <div class="toy_section">
         <p>Toy for Child</p>
         <p>$35.00</p>
        <button class="add_to_cart">Add to Cart</button>
      </div>
     </div>
     </div>
     <div class="col-md-4 col-sm-4">
      <div class="catalog_section">
        <img src="{% static 'demo/images/catalog5.jpg'%}" alt="catalog">
        <div class="toy_section">
           <p>Clothes</p>
          <p>$50.00</p>
          <button class="add_to_cart">Add to Cart</button>
        </div>
     </div>
     </div>
     <div class="col-md-4 col-sm-4">
      <div class="catalog_section">
        <img src="{% static 'demo/images/catalog6.jpg' %}" alt="catalog">
        <div class="toy_section">
            <p>Running Shoes & Socks</p>
        <p>$50.00</p>
        <button class="add_to_cart">Add to Cart</button>
      </div>
     </div>
   </div>
 </div>

 <div class="row">
     <div class="col-md-4 col-sm-4">
      <div class="catalog_section">
       <img src="{% static 'demo/images/catalog7.jpg' %}" alt="catalog">
       <div class="toy_section">
         <p>Single Bed</p>
         <p>$200.00</p>
        <button class="add_to_cart">Add to Cart</button>
      </div>
     </div>
     </div>
     <div class="col-md-4 col-sm-4">
      <div class="catalog_section">
        <img src="{% static 'demo/images/catalog8.jpg' %}" alt="catalog">
        <div class="toy_section">
           <p>Small Food Hamper</p>
          <p>$40.00</p>
          <button class="add_to_cart">Add to Cart</button>
        </div>
     </div>
     </div>
     <div class="col-md-4 col-sm-4">
      <div class="catalog_section">
        <img src="{% static 'demo/images/catalog9.jpg' %}" alt="catalog">
        <div class="toy_section">
        <p>Large Food Hamper</p>
        <p>$80.00</p>
        <button class="add_to_cart">Add to Cart</button>
      </div>
     </div>
   </div>
 </div>
</div>
{% endif %}
<script src="{% static 'lib/jquery/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'lib/fancybox/jquery.fancybox.pack.js' %}"></script>
<script src="{% static 'lib/jquery-validate/jquery.validate.min.js' %}"></script>
<script src="{% static 'lib/mmenu/jquery.mmenu.all.min.js' %}"></script>
<script src="{% static 'lib/slidesjs/jquery.slides.min.js' %}"></script>
<script src="{% static 'js/translate.js' %}"></script>
<script src="{% static 'js/site.js' %}"></script>
<script src="//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=190291501407"></script>
<script src="https://platform.twitter.com/widgets.js"></script>
<script src="//translate.google.com/translate_a/element.js?cb=TranslateInit"></script>
<script>
  $('.add_to_cart').click(function () {
        add_to_cart($(this).data('id'));
    });

    function add_to_cart(product_id) {
        ajax_loading_modal(true);
        $.get('/api/add_to_cart/', {product_id: product_id}, function (e) {
            if (e['error'] === 0) {
                // Change CART(x) val in the nav
                $('#cart-items-count').html(e['count'] > 0 ? '(' + e['count'] + ')' : '');
                // Add IN CART text to box
                $('.in-cart[data-id="' + product_id + '"]').html('IN CART (' + e['qty'] + ')');
            }
            else{
              alert('Need to Login first')
            }
        }).always(function (e) {
            ajax_loading_modal(false);
        });
    }
</script>


{% endblock %}