{% extends 'aoj_app/demo/base.html' %}
{% load static i18n %}
{% load aoj_extras %}

{% block body_temp %}
  <!-- banner start here -->
  <section class="child_banner">
    <!-- header start here -->
  {% get_desktop_nav %}    
    <div class="container children_arm">
      <div class="row">
        <div class="col-md-12">
          <div class="banner_outer"> 
            <h1>YOU CAN SPONSOR A CHILD FOR $40.00 A MONTH OR $480 A YEAR... JUST $1.32 PER DAY</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- header close here -->

<!--Start Form Section-->
{% for country,children in child_data.items %}
 <div class="container children_arm">
   <div class="row gutenemala_text">
     <div class="col-md-12">
       <h2>{{ country }}</h2>
     </div>
   </div>
   <div class="row">
    {% for child in children %}
     <div class="col-md-3 col-sm-6 child_circle">
      {% if child.checked_out %}
        <img src="{{ child.image1.url }}" alt="children">
        <h5>{{ child }}</h5>
        <p class="text-center text-danger">Checked out<p>
      {% else %}
      <a href="{% url 'children_detail' child.slug %}">
        <img src="{{ child.image1.url }}" alt="children">
      </a>
        <h5>{{ child }}</h5>
        <p>Available for Sponsor</p>
      {% endif %}
     </div>
     
    {% endfor %}
  </div>
</div>
    {% endfor %}

      {% comment %} <div class="col-md-3 col-sm-6 child_circle">
        <img src="images/child2.jpg" alt="children">
        <h5>Junior</h5>
        <p>Available for Sponsor</p>
     </div>
     <div class="col-md-3 col-sm-6 child_circle">
        <img src="images/child3.jpg" alt="children">
        <h5>Francisco</h5>
        <p>Available for Sponsor</p>
     </div>
     <div class="col-md-3 col-sm-6 child_circle">
        <img src="images/child4.jpg" alt="children">
        <h5>Leydy</h5>
        <p>Available for Sponsor</p>
     </div>
   
   
     <div class="col-md-3 col-sm-6 child_circle">
        <img src="images/child6.jpg" alt="children">
        <h5>Franceska</h5>
        <p>Available for Sponsor</p>
     </div>
     <div class="col-md-3 col-sm-6 child_circle">
        <img src="images/child7.jpg" alt="children">
        <h5>Jean</h5>
        <p>Available for Sponsor</p>
     </div>
     <div class="col-md-3 col-sm-6 child_circle">
        <img src="images/child8.jpg" alt="children">
        <h5>Angelo</h5>
        <p>Available for Sponsor</p>
     </div> 
   </div>
   {% for child in object_list %}
   {% if child %}
   <div class="row gutenemala_text">
     <div class="col-md-12">
       <h2>Kenya</h2>
     </div>
   </div>
    <div class="row">
    {% if child.country == "Kenya" %}
     <div class="col-md-3 col-sm-6 child_circle">
        <img src="images/child5.jpg" alt="children">
        <h5>{{ child.name }}</h5>
        <p>Available for Sponsor</p>
     </div>
     {% endif %}
     {% endif %}
     {% endfor %} --> {% endcomment %}
     <!-- <div class="col-md-3 col-sm-6 child_circle">
        <img src="images/child6.jpg" alt="children">
        <h5>Franceska</h5>
        <p>Available for Sponsor</p>
     </div>
     <div class="col-md-3 col-sm-6 child_circle">
        <img src="images/child7.jpg" alt="children">
        <h5>Jean</h5>
        <p>Available for Sponsor</p>
     </div>
     <div class="col-md-3 col-sm-6 child_circle">
        <img src="images/child8.jpg" alt="children">
        <h5>Angelo</h5>
        <p>Available for Sponsor</p>
     </div>
   </div>
 </div>

<!-Start Accredited Member section-->


{% endblock %}