{% extends  'aoj_app/demo/base.html' %}
{% load static i18n %}
{% load aoj_extras %}

{% block body_temp %}
<section class="child_banner">
    {% get_desktop_nav %}
{% comment %} {% include 'aoj_app/demo/header.html' %} {% endcomment %}
<div class="container children_arm">
    <div class="row">
      <div class="col-md-12">
        <div class="banner_outer"> 
          <h1>YOU CAN SPONSOR A CHILD FOR $40.00 A MONTH OR $480 A YEAR... JUST $1.32 PER DAY</h1>
        </div>
      </div>
    </div>
  </div>
  </section>
    <div class="page-children-detail">
        <div class="container mx-auto">
            <div class="row">
                <div class="col-lg-12 col-lg-offset-1">
                    <h2 class="cd-name hadding_mazion">{{ object.name }}</h2>
                    <div class="c-born paragraph_date">
                        <p>{% trans "Born" %}: {{ object.born }}</p>
                    </div>
                    <div class="c-location paragraph_date paragraph_date1">
                        <p>{% trans "Location" %}: {{ object.location }}, {{ object.country }}</p>
                    </div>
                    <div class="clearfix"></div>
                    <div class="outerImg">
                        {% if object.image1 %}
                        <a class="cd-image-link-1 fancy-image" rel="child" href="{{ object.image1.url }}">
                            <img class="img-responsive img-cd" src="{{ object.image1.url }}" alt=""></a>
                    {% endif %}
                    {% if object.image2 %}
                        <a class="cd-image-link-2 fancy-image" rel="child" href="{{ object.image2.url }}">
                            <img class="img-responsive img-cd" src="{{ object.image2.url }}" alt=""></a>
                    {% endif %}
                    </div>
                    
                    <p class="cd-description paragraphTittle">{{ object.description }}</p>

                    <div class="clearfix"></div>
                    <h4 class="text-center angelTest">
                        {% blocktrans with child_names=object.get_short_name|upper %}WOULD YOU BE THE ANGEL IN {{ child_names }}’S LIFE?{% endblocktrans %}
                    </h4>
                    <hr>
                    <h3 class="angelTest1">{% trans "Sponsorship Request Form" %}</h3>
                    <h4 class="cd-details-header fromTest_hadding">{% trans "Child Details" %}</h4>
                    <p class="cd-details fromTest_paragraph">{% trans "Name" %}: {{ object.name }}</p>
                    <p class="cd-details fromTest_paragraph">{% trans "City" %}: {{ object.location }}</p>
                    <p class="cd-details fromTest_paragraph">{% trans "Country" %}: {{ object.country }}</p>
                    <h4 class="cd-details-header FromHadding">{% trans "Your Details" %}</h4>
                    <div class="row outerFrom_middle">
                        <div class="col-md-10">
                            <div class="form-wrapper">
                                <form id="form-child-sponsorship" action="/api/send_sponsorship_form/" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="children_name" value="{{ object.name }}">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group fromGroup_outer">
                                                <label for="cbfFname">{% trans "First Name" %}</label>
                                                <input type="text" class="form-control" id="cbfFname" name="first_name">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group fromGroup_outer">
                                                <label for="cbfLname">{% trans "Last Name" %}</label>
                                                <input type="text" class="form-control" id="cbfLname" name="last_name">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group fromGroup_outer">
                                        <label for="cbfAddress">{% trans "Address" %}</label>
                                        <input type="text" class="form-control" id="cbfAddress" name="address">
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group fromGroup_outer">
                                                <label for="cbfCity">{% trans "City" %}</label>
                                                <input type="text" class="form-control" id="cbfCity" name="city">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group fromGroup_outer">
                                                <label for="cbfState">{% trans "State" %}</label>
                                                <input type="text" class="form-control" id="cbfState" name="state">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group fromGroup_outer">
                                                <label for="cbfZip">{% trans "Zip Code" %}</label>
                                                <input type="text" class="form-control" id="cbfZip" name="zip">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group fromGroup_outer">
                                                <label for="cbfCountry">{% trans "Country" %}</label>
                                                <input type="text" class="form-control" id="cbfCountry" name="country">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group fromGroup_outer">
                                        <label for="cbfEmail">Email</label>
                                        <input type="email" class="form-control" id="cbfEmail" name="email">
                                    </div>
                                    <div class="form-group fromGroup_outer">
                                        <label for="cbfPhone">{% trans "Phone" %}</label>
                                        <input type="text" class="form-control" id="cbfPhone" name="phone">
                                    </div>
                                    <button class="btn btn-primary mt-2 submitBTN" type="submit">{% trans "SUBMIT" %}</button>
                                </form>
                                <div class="f-message f-success">
                                    <h3>{% trans "Thank you. Your information has been submitted." %}</h3>
                                </div>
                                <div class="f-message f-error">
                                    <h3>{% trans "Something went wrong, try refreshing and submitting the form again." %}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="{% static 'lib/jquery/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'lib/fancybox/jquery.fancybox.pack.js' %}"></script>
<script src="{% static 'lib/jquery-validate/jquery.validate.min.js' %}"></script>
<script src="{% static 'lib/mmenu/jquery.mmenu.all.min.js' %}"></script>
<script src="{% static 'lib/slidesjs/jquery.slides.min.js' %}"></script>
<script src="{% static 'js/translate.js' %}"></script>
<script src="{% static 'js/site.js' %}"></script>
<script src="//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=190291501407"></script>
<script src="https://platform.twitter.com/widgets.js"></script>
<script src="//translate.google.com/translate_a/element.js?cb=TranslateInit"></script>
<script>
    $('#form-child-sponsorship').validate({
        rules: {
            first_name: {
                required: true,
                minlength: 2
            },
            last_name: {
                required: true,
                minlength: 2
            },
            address: {
                required: true,
                minlength: 2
            },
            city: {
                required: true,
                minlength: 2
            },
            state: {
                required: true,
                minlength: 2
            },
            zip: {
                required: true,
                minlength: 2
            },
            country: {
                required: true,
                minlength: 2
            },
            email: {
                required: true,
                email: true
            },
            phone: {
                required: true,
                minlength: 2
            }
        },
        messages: {
            first_name: {
                required: "This field is required",
                minlength: "This field must consist of at least 2 characters"
            },
            last_name: {
                required: "This field is required",
                minlength: "This field must consist of at least 2 characters"
            },
            address: {
                required: "This field is required",
                minlength: "This field must consist of at least 2 characters"
            },
            city: {
                required: "This field is required",
                minlength: "This field must consist of at least 2 characters"
            },
            state: {
                required: "This field is required",
                minlength: "This field must consist of at least 2 characters"
            },
            zip: {
                required: "This field is required",
                minlength: "This field must consist of at least 2 characters"
            },
            country: {
                required: "This field is required",
                minlength: "This field must consist of at least 2 characters"
            },
            email: {
                required: "This field is required"
            },
            phone: {
                required: "This field is required",
                minlength: "This field must consist of at least 2 characters"
            }
        },
        submitHandler: function (form) {
            ajax_loading_modal(true);
            $(form).find('button[type="submit"]').attr('disabled', true);
            $.ajax({
                method: "POST",
                // url: "/api/send_sponsorship_form/",
                url:"{% url 'ajax_send_sponsorship_form' %}",
                data: $(form).serialize()
            }).done(function (e) {
                if (e['error'] === 0) {
                    $(form).fadeTo("slow", 0.15, function () {
                        $('.form-wrapper .f-success').fadeIn('slow');
                    });
                } else {
                    $(form).fadeTo("slow", 0.15, function () {
                        $('.form-wrapper .f-error').fadeIn('slow');
                    });
                }
            }).fail(function () {
                $(form).fadeTo("slow", 0.15, function () {
                    $('.form-wrapper .f-error').fadeIn('slow');
                });
            }).always(function () {
                ajax_loading_modal(false);
                //$(form).find('button[type="submit"]').attr('disabled', true);
            });
        }
    });
</script>
{% endblock %}