{% extends 'aoj_app/demo/base.html' %}
{% load staticfiles i18n %}
{% load aoj_extras %}

{% block page_title %}

  {% get_site_config as config %}

  {% if config.children_seo_title %}
    {{ config.children_seo_title }}
  {% else %}
    The Arms of Jesus - Children
  {% endif %}

{% endblock page_title %}

{% block body_temp %}

  {% get_site_config as config %}

  <!-- banner start here -->
  <section class="child_banner" {% if config.children_banner_image %}style="background-image:url({{ config.children_banner_image.url }});"{% endif %}>
  
    {% get_desktop_nav %}    
    <div class="container children_arm">
      <div class="row">
        <div class="col-md-12">
          <div class="banner_outer"> 
            <h1>YOU CAN SPONSOR A CHILD FOR $40.00 A MONTH OR $480 A YEAR... JUST $1.32 PER DAY</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- banner close here -->

<!--Start Form Section-->
  {% for country,children in child_data.items %}
    <div class="container children_arm">
      <div class="row gutenemala_text">
        <div class="col-md-12">
          <h2>{{ country }}</h2>
        </div>
      </div>

      <div class="row">

        {% for child in children %}
          <div class="col-md-3 col-sm-6 child_circle">

            {% if child.checked_out %}
              <img src="{{ child.image1.url }}" alt="children">
              <h5>
                {{ child }}
              </h5>
              <p class="text-center text-danger">
                Checked out
              <p>

            {% else %}
              <a href="{% url 'children_detail' child.slug %}">
                <img src="{{ child.image1.url }}" alt="children">
              </a>
              <h5>
                {{ child }}
              </h5>
              <p>
                Available for Sponsor
              </p>

            {% endif %}
          </div>
     
        {% endfor %}
      </div>
    </div>
  {% endfor %}
{% endblock %}