{% load static %}
{% load aoj_extras %}
<div class="footer">
  {% get_site_config as config %}
    <div class="container children_arm">
      <div class="row footer_row1">
        <div class="col-md-5">
          <div class="footer_item1">
            <h6>Contact Us</h6>

            <p class="number_footer">Phone: (905) 492-5007</p>
            {% if config.site_email %}
            <p class="email_footer">Email: {{ config.site_email }}</p>
            {% else %}
            <p class="email_footer">Email: aojchildmis@rogers.com</p>
            {% endif %}

            <p class="address_hadding">Mailing Address:</p>
            <p class="2R2">P.O.Box 10 Pickering,Ontario L1V 2R2 Canda</p>

            <p class="office_hadding">Office Address:</p>
            <p class="office_address">1730 McPherson Ct., Unit 19 Pickering,Ontario<br>L1w 3E6 Canada</p>
            <div class="footer_btm">
              <a href="https://www.google.com/maps/place/1730+McPherson+Ct+Unit+19,+Pickering,+ON+L1W+3E6,+Canada/@43.8243242,-79.0627743,15.49z/data=!4m5!3m4!1s0x89d4de59303c42af:0x48e61eac3b83aeef!8m2!3d43.8227487!4d-79.0609166" target="_blank" rel="noopener noreferrer">Get Direction</a>
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <div class="footer_right_side">
            <div class="right_side_outer">
              <div class="footer_logo">
                <img src="{% static 'demo/images/footer-logo.png' %}" alt="footer-logo">
              </div>
              <div class="social_ic">
                {% if config.facebook_page %}
                <a href="{{ config.facebook_page }}" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook-f"></i></a>
                {% else %}
                <a href="https://www.facebook.com/ArmsOfJesus/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook-f"></i></a> 
                {% endif %}
                {% if config.twitter_link %}
                <a href="{{ config.twitter_link }}"><i class="fa-brands fa-twitter"></i></a>
                {% else %}
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                {% endif %}
                
                {% if config.youtube_link %}
                <a href="{{ config.youtube_link }}" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-youtube"></i></a>
                {% else %}
                <a href="https://www.youtube.com/channel/UCGLEAhozRUSUDzP7o-NGD1A" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-youtube"></i></a>
                {% endif %}
              </div>
            </div>
            <div class="footer_manu">
              <div class="footer_manu_item1">
                <h5>About Us</h5>

                <ul>
                  <li><a href="#">About AOJ</a></li>
                  <li><a href="{% url 'mission' %}">Mission Statement</a></li>
                  <li><a href="{% url 'history' %}">History</a></li>
                </ul>
              </div>
              <div class="footer_manu_item1">
                <h5>Donate</h5>

                <ul>
                  <li><a href="{% url 'catalogue' %}">Catalogue</a></li>
                  <li><a href="{% url 'donate' %}">Donations</a></li> 
                </ul>
              </div>
              <div class="footer_manu_item1">
                <h5>Get Involved</h5>

                <ul>
                  <li><a href="{% url 'catalogue' %}">Catalogue</a></li>
                  <li><a href="{% url 'donate' %}">Donations</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row copyright_txt">
        <div class="col-md-12">
          <p>Copyright © 2021 Arms of Jesus Children's Mission Inc. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>