{% load static %}
{% load aoj_extras %}

<header>
  
  {% get_site_config as config %}
  
  {% if user.is_authenticated %}
    <div class="header">
  {% else %}
    <div class="header no_dashboard">
  {% endif %}
  
      <div class="children_header">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container-fluid">
            
            <a class="navbar-brand" href="{% url 'newindex' %}">
              <img src="{% static 'demo/images/logo.png' %}">
            </a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <i class="fa fa-bars"></i>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                
                {% for header,sublink in drop_new_dict.items %}
                  
                  {% if sublink %}
                    <li class="nav-item">
                      <div class="dropdown">
                        
                        <a class="dropdown-toggle nav-link" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                          
                          <span class="{% if path == header.link %}active_link{% endif %}">
                            {{header.title}}
                          </span>
                        </a>
                      
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        
                        {% for data in sublink %}
                        
                          {% if curr_page == "newindex" and data.title == 'Home' %}
                            {% comment "" %} 
                              don't add anthing 
                            {% endcomment %}
                          {% else %}
                            
                            <li>
                              <a class="dropdown-item" href="{{ data.link }}">
                                <span class="{% if path == data.link %}active_link{% endif %}">
                                  {{data.title}}
                                </span>
                              </a>
                            </li>
                          
                          {% endif %}

                        {% endfor %}

                        </ul>
                      </div>
                    </li>

                  {% else %} 
                    <li class="nav-item">
                      {% if header.title == 'Dashboard' or header.title == 'Cart' %}
                        {% if user.is_authenticated %}
                          
                          <a class="nav-link" href="{{ header.link}}">
                            
                            <span class="{% if path == header.link %}active_link{% endif %}">{{header.title}}</span>
                            
                            {% if header.title == 'Cart' %}
                              <span id="cart-items-count">
                                {% if items_count > 0 %}
                                  ({{ items_count }})
                                {% endif %}
                              </span>                      
                            {% endif %}

                          </a>

                        {% else %}
                          {% comment "" %} 
                            don't add anthing 
                          {% endcomment %}
                        {% endif %}

                      {% else %}
                        
                        <a class="nav-link" href="{{ header.link}}">
                          <span class="{% if path == header.link %}active_link{% endif %}">
                            {{header.title}}
                          </span>
                        </a>
                    
                      {% endif %}
                  
                    </li>
                  
                  {% endif %}
                {% endfor %}
                
                {% for data in header_list %}
                  
                  <li class="nav-item">
                    <a class="nav-link" href="{{ data.get_absolute_url }}">
                      {% if data.name_in_dropdown %}
                    
                        <span class="{% if path == data.link %}active_link{% endif %}">
                          {{data.name_in_dropdown}}
                        </span>
                    
                      {% else %}
                    
                        <span class="{% if path == data.link %}active_link{% endif %}">
                          {{data.title}}
                        </span>

                      {% endif %}
                  
                    </a>
                  </li>

                {% endfor %}

                {% if drop_dict %}
                  
                  {% for header,subheader in drop_dict.items %}
                    <li class="nav-item">
                      <div class="dropdown">
                        
                        <a class="dropdown-toggle nav-link" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                          <span class="{% if path == header.link %}active_link{% endif %}">
                            {{header.title}}
                          </span>
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          
                          {% for data in subheader %}
                            
                            <li>
                              <a class="dropdown-item" href="{{ data.get_absolute_url }}">
                                <span class="{% if path == data.link %}active_link{% endif %}">
                                  {{data.title}}
                                </span>
                              </a>
                            </li>

                          {% endfor %}

                        </ul>
                      </div>
                    </li>
                  {% endfor %}
                {% endif %} 
              </ul>

              <div class="header_btn">
                <a href="{% url 'donate' %}" class="donate_btn">
                  
                  {% if config.donate_name_in_navbar %}
                    {{ config.donate_name_in_navbar }}
                  {% else %}
                    Donate
                  {% endif %}

                </a>

                <a href="{% url 'donate' %}" class="sponsor_btn">
                  
                  {% if config.sponsor_name_in_navbar %}
                    {{ config.sponsor_name_in_navbar }}
                  {% else %}
                    Sponsor
                  {% endif %}

                </a>

              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </header>