{% extends 'aoj_app/demo/base.html' %}
{% load staticfiles i18n %}
{% load aoj_extras %}

  {% block body_temp %}
  <!-- banner start here -->
  <section class="banner">
    {% get_desktop_nav %}
    <!-- header start here -->
    
  <!-- header close here -->
    <div class="container children_arm">
      <div class="row">
        <div class="col-md-12">
          <div class="banner_outer">
            <h5><img src="{% static 'demo/images/symbole.png' %}" alt=""></h5>
            <h1>And He took the children in His arms, put His Hands on them and blessed them</h1>
            <h6>Mark 10:16</h6>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- banner close here -->

  <!-- about start here -->
  <section>
    <div class="about">
      <div class=" about_outer">
        <div class="about_item">
          <div class="about-left-sec">
            <img src="{% static 'demo/images/about.jpg' %}" alt="">
          </div>
        </div>
        <div class=" about_item about_item1">
          <div class="about_right_sec">
            <h4>ABOUT</h4>
            <h2>THE ARMS OF JESUS CHILDREN'S MISSION</h2>
            <p>We recognize the needs of children around the world and the fact that 
              God loves children and that they had a special place in the ministry of 
              the Lord Jesus, The Arms of Jesus Children's Mission Inc. is a Bible 
              based, evangelical ministry committed under God to respond to the 
              needs of children, be they physical, emotional, material, and/or spiritual. 
              In responding to the cry for help from local churches and groups of 
              believers in developing and/or poor countries in their efforts to help and 
              minister to children. As well as responding to the desire of Christians in 
              North America and other countries to reach out and help children of the 
              world. We recognize that many people have a real burden, a need to 
              reach out to, and help children but do not know where to start, or what 
              to do. The Arms of Jesus Children's Mission will facilitate such a need.​</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- about close here -->

  <!-- vision start here -->
  <section>
    <div class="vision">
      <div class="container children_arm">
        <div class="row">
          <div class="col-md-12">
            <div class="vision_outer">
              <h2>OUR VISION</h2>
              <p>The Arms of Jesus Children’s Mission will develop the SPIRITUAL, EMOTIONAL, EDUCATIONAL and PHYSICAL 
                areas in each girl and boy, with the objective to form Christian leaders so that they can become agents of positive change
                in their family, community and country.</p>
                <div class="vision_btn">
                  <a href="{% url 'history' %}">Learn More</a>
                </div>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </section>
  <!-- vision close here -->

  <!-- news start here -->
  <div class="news_outer">
    <div class="container children_arm">
      <div class="hadding_lastestNews">
        <h2>LATEST NEWS</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
      </div>
      <div class="row lastestNews_outer">
        <div class="col-md-4">
          <div class="news_item1">
            <div class="latest_img">
              <img src="{% static 'demo/images/news_img1.jpg' %}" alt="">
            </div>
            <div class="donors_hadding">
              <h4>Thanks to Donors</h4>
              <p>Lorem Ipsum is simply dummy text of the
                printing and typesetting industry. Lorem
                Ipsum has been the industry's</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="news_item1">
            <div class="latest_img">
              <img src="{% static 'demo/images/news_img2.jpg' %}" alt="">
            </div>
            <div class="donors_hadding">
              <h4>School Dedication</h4>
              <p>Lorem Ipsum is simply dummy text of the
                printing and typesetting industry. Lorem
                Ipsum has been the industry's</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="news_item1">
            <div class="latest_img">
              <img src="{% static 'demo/images/news_img3.jpg' %}" alt="">
            </div>
            <div class="donors_hadding">
              <h4>Urgent Prayer Request</h4>
              <p>Lorem Ipsum is simply dummy text of the
                printing and typesetting industry. Lorem
                Ipsum has been the industry's</p>
            </div>
          </div>
        </div>
      </div>
      <div class="LatestNews_btn">
        <a href="#">Read More</a>
      </div>
    </div>
  </div>
  <!-- news close here -->

  <!-- magazines start here -->
  <div class="magazines">
    <div class="container magazines_arm">
      <div class="row">
        <div class="col-md-12">
          <h2>LATEST MAGAZINES</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="slider autoplay slider_autoplay">
            {% if latest_magazines %}
            {% for magazine in latest_magazines %}
            <div class="our_magzine_product">
              {% if magazine.image %}
              <a href="{% url 'magazine_detail' magazine.slug %}">
                <img src="{{ magazine.image.url }}" alt="prdct1">
              </a>
              {% else %}
              <a href="{% url 'magazine_detail' magazine.slug %}">
                <img src="{% static 'demo/images/book1.jpg' %}" alt="prdct2">
              </a>
              {% endif %}
              <h3>{{ magazine.title }}</h3>
            </div>
            {% endfor %}
            {% else %}
            <div class="our_magzine_product">
              <img src="{% static 'demo/images/book1.jpg' %}" alt="prdct2">
              <h3>March 2021 Bulletin</h3>
            </div>
            <div class="our_magzine_product">
              <img src="{% static 'demo/images/book1.jpg' %}" alt="prdct2">
              <h3>March 2021 Bulletin</h3>
            </div>
            <div class="our_magzine_product">
              <img src="{% static 'demo/images/book1.jpg' %}" alt="prdct3">
              <h3>January 2021 Bulletin</h3>
            </div>
            <div class="our_magzine_product">
              <img src="{% static 'demo/images/book1.jpg' %}" alt="prdct4">
              <h3>July 2021 Bulletin</h3>
            </div>
            <div class="our_magzine_product">
              <img src="{% static 'demo/images/book1.jpg' %}" alt="prdct5">
              <h3>March 2021 Bulletin</h3>
            </div>
            {% endif %}
          </div>
          <div class="magazines_btn">
            <a href="{% url 'magazine' %}">Go to Magazines</a>
          </div>
        </div>
      </div>




    </div>
  </div>
  <!-- magazines close here -->

  <!-- video start here -->
  {% if countries %}
  <div class="video">
    <div class="container children_arm">
      <div class="row">
        <div class="col-md-12 select_video">
          <select name="cars" class="cars">
            {% for country in countries %}
              <option name="country_name" value="{{ country.id }}">
              {{ country.name }}
            </option>
            {% endfor %}
          </select>
        </div>
      </div>

      <!--change-->
    <div class="row" id="append_row">
      {% if country_video %}
        {% for video in country_video %}
          <div class="col-md-6 select_video">     
            <div class="video_outer">
              <iframe class="video-iframe" src="{{ video }}" frameborder="0" allowfullscreen=""></iframe>
            </div>
          </div>
        {% endfor %}
      {% else %}
      <h3 class="text-center text-danger">Sorry! No Media</h3>
      {% endif %}
    </div>
    </div>
  </div>
  {% endif %}
  <!-- video close here -->

  <!-- member start here -->
  
  <!-- footer close here -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>


<script>
$(document).ready(function() {
    $('.cars').change(function(){
        var name = $(this).val();
        var row_div=$('#append_row') 
      $.ajax({
                  type: "GET",
                  url: "{% url 'ajaxdropdown' %}",
                  data: {
                      "country": name,
                  },
                  success: function (data) {
                    video_link=data.dataresponse
                    if (video_link.length>0){
                    video_link.forEach(function(item,index){
                      var outer_div=$('<div>').addClass('col-md-6 select_video');
                      var inner_div=$('<div>').addClass('video_outer');
                      var videoframe=$('<iframe>').addClass('video-iframe').attr("src",item);
                      $(inner_div).append(videoframe);
                      $(outer_div).append(inner_div)
                      $(row_div).append(outer_div); 
                    });
                  }
                  else{
                    var errormsg = $('<h3>').addClass('text-center text-danger')
                    $(errormsg).append('Sorry! No Media')
                    $(row_div).append(errormsg)
                  }                     
                  },
              });
              row_div.html('');
})});

</script>

{% endblock %}