{% extends 'aoj_app/demo/base.html' %}
{% load staticfiles i18n %}
{% load aoj_extras %}

{% block page_title %}
{% get_site_config as config %}
{% if config.login_seo_title %}
{{ config.login_seo_title }}
{% else %}
The Arms of Jesus - Login
{% endif %}
{% endblock page_title %}

{% block body_temp %}
{% get_site_config as config %}
  <!-- banner start here -->
  <section class="register_banner" {% if config.login_banner_image %}style="background-image:url({{ config.login_banner_image.url }});"{% endif %}>
    {% get_desktop_nav %}
    <!-- header start here -->

  </section>
  <!-- header close here -->
<div class="container make_donation">
  <div class="row">
    <div class="col-md-12">
      <h2>Make a Donation</h2>
      <p class="make_donation_login">Please login to make a donation and receive a<br> 
        Canadian Charitable Donation Tax Receipt in Canadian Dollars</p>
    </div>
  </div>
  
</div>
<!--Start Form Section-->
<form method="post">
  {% csrf_token %}
<div class="container registeration_form">
  <div class="row main_form_login">
    <div class="text-warning">
      {{ form.non_field_errors }}
    </div>
    <div class="col-md-12">
      <form>
        <div class="form-group">
          <lable>Email</lable>
          <!-- <input type="email" name="email" value=""> -->
          {{ form.username }}
          {{ form.email.errors }}
        </div>
        <div class="form-group">
          <lable>Password</lable>
          <!-- <input type="password" name="password" value=""> -->
          {{ form.password }}
          {{ form.password.errors }}
        </div>
        <div class="form-group">
          <input type="submit" name="" value="Login" class="sbmt_btn_login">
        </div>
        <div class="form-group">
          <p>Need to register?<a href="{% url 'register' %}">Click here.</a></p>
        </div>
      </form>
    </div>
    </div>
  </div>
</form>
<!--Start Accredited Member section-->

{% endblock %}