{% extends  'aoj_app/demo/base.html' %}
{% load staticfiles %}
{% load aoj_extras %}

{% block page_title %}
    {% if object.Magazine_detail_seo_title %}
        {{ object.Magazine_detail_seo_title}}
    {% else %}
       The Arms of Jesus
    {% endif %}
{% endblock page_title %}

{% block body_temp %}
<section class="register_banner teamsBanner" {% if object.Magazine_detail_banner_image %}style="background-image:url({{ object.Magazine_detail_banner_image.url }});"{% endif %}>
    <header>
        {% get_desktop_nav %}
      </header>
        <!-- header start here -->
        
        <div class="teamsConsider_outer">
          <h1>MAGAZINE DETAIL</h1>
        </div>
  </section>



    <div class="page-magazine-detail">
        <div class="container">
            <h2 class="text-center magazineHadding">{{ object.title }}</h2>
            <div class="videoWrapper magazineDetail_video">
                <iframe src="{{ object.iframe_link }}" frameborder="0" allowfullscreen="true"></iframe>
            </div>
        </div>
    </div>
{% endblock %}