{% extends  'aoj_app/demo/base.html' %}
{% load staticfiles i18n aoj_extras %}

{% block body_temp %}

<section class="register_banner teamsBanner">
  <header>
      {% get_desktop_nav %}
    </header>
      <!-- header start here -->
      
      <div class="teamsConsider_outer">
        <h1>MEDIA</h1>
      </div>
</section>




    {% if countries %}
  <div class="video mediaSec_video">
    <div class="container children_arm">
      <div class="row">
        <div class="col-md-12 select_video">
          <select name="cars" class="cars">
            {% for country in countries %}
              <option name="country_name" value="{{ country.id }}">
              {{ country.name }}
            </option>
            {% endfor %}
          </select>
        </div>
      </div>

      <!--change-->
    <div class="row" id="append_row">
      {% if country_video %}
        {% for video in country_video %}
          <div class="col-md-6 select_video">     
            <div class="video_outer">
              <iframe class="video-iframe" src="{{ video }}" frameborder="0" allowfullscreen=""></iframe>
            </div>
          </div>
        {% endfor %}
      {% else %}
      <h3 class="text-center text-danger">Sorry! No Media</h3>
      {% endif %}
    </div>
    </div>
  </div>
  {% endif %}

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script src="{% static 'demo/js/jquery.min.js' %}"></script>
  <script>
  $(document).ready(function() {
    $('.cars').change(function(){
        var name = $(this).val();
        var row_div=$('#append_row') 
      $.ajax({
                  type: "GET",
                  url: "{% url 'ajaxdropdown' %}",
                  data: {
                      "country": name,
                  },
                  success: function (data) {
                    video_link=data.dataresponse
                    if (video_link.length>0){
                    video_link.forEach(function(item,index){
                      var outer_div=$('<div>').addClass('col-md-6 select_video');
                      var inner_div=$('<div>').addClass('video_outer');
                      var videoframe=$('<iframe>').addClass('video-iframe').attr("src",item);
                      $(inner_div).append(videoframe);
                      $(outer_div).append(inner_div)
                      $(row_div).append(outer_div); 
                    });
                  }
                  else{
                    var errormsg = $('<h3>').addClass('text-center text-danger')
                    $(errormsg).append('Sorry! No Media')
                    $(row_div).append(errormsg)
                  }                     
                  },
              });
              row_div.html('');
})});

</script>
{% endblock %}