<!DOCTYPE html>
<html lang="en">

<head>
  <title>Arm Of God</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- css link -->
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/custom.css">
  <link rel="stylesheet" href="css/bootstrap.css">

  <link rel="stylesheet" href="css/slick.css">
  <link rel="stylesheet" href="css/slick-theme.css">

  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

  <!-- fav link -->
  <link rel="icon" type="image/x-icon" href="image/fav.png">
</head>

<body>

  <!-- banner start here -->
  <section class="register_banner mission_haittiBanner">
    <!-- header start here -->
    <header>
      <div class="header">
        <div class="children_header">
          <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="home.html"><img src="images/logo.png"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                 <i class="fa fa-bars"></i>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="home.html">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="children.html">Children</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Mission</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Teams</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Catalogue</a>
                  </li>
                  <li class="nav-item">
                  <div class="dropdown">
                    <a class="dropdown-toggle nav-link" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                     About Us
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <li><a class="dropdown-item" href="about_behave.html">About Behave</a></li>
                      <li><a class="dropdown-item" href="about_fund_policy.html">About Fund Policy</a></li>
                      <li><a class="dropdown-item" href="about_histroy.html">About Histroy</a></li>
                      <li><a class="dropdown-item" href="about_mission.html">About Mission</a></li>
                      <li><a class="dropdown-item" href="about_staff.html">About Staff</a></li>
                    </ul>
                  </div>
                </li>
                  <li class="nav-item">
                    <a class="nav-link" href="contact-us.html">Contact</a>
                  </li>
                </ul>
                <div class="header_btn">
                  <a href="#" class="donate_btn">Donate</a>
                  <a href="#" class="sponsor_btn">Sponsor</a>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <div class="teamsConsider_outer">
      <h1>KENYA MISSION</h1>
    </div>
  </section>
  <!-- header close here -->

  <!-- haiti start here -->
  <div class="haitiMission">
    <div class="container children_arm">
      <div class="haiti_hadding">
        <h2>Kenya</h2>

        <div class="haitiHadding_btn">
          <div class="haitiHadding_btnItem">
            <p>CAPITAL:</p>
            <a href="#">Port-au-Prince</a>
          </div>
          <div class="haitiHadding_btnItem">
            <p>POPULATION:</p>
            <a href="#">37 million<br>(43% 0-14 years)
              </a>
          </div>
          <div class="haitiHadding_btnItem">
            <p>LIFE EXPECTANCY:</p>
            <a href="#">55 years</a>
          </div>
          <div class="haitiHadding_btnItem">
            <p>HIV/AIDS PREVALENCE:</p>
            <a href="#">6.7%<br>
              (1.2millions persons)
            </a>
          </div>
          <div class="haitiHadding_btnItem">
            <p>OFFICIAL LANGUAGE:</p>
            <a href="#">English, Swahili
            </a>
          </div>
          <div class="missionKenya">
            <div class="haitiHadding_btnItem">
              <p>LOCATION:</p>
              <a href="#">East Africa
              </a>
            </div>
            <div class="haitiHadding_btnItem">
              <p>AOJ Ministry</p>
              <a href="#">Since 1990
              </a>
            </div>
          </div>
          <div class="kenya_outer">
            <p>The mission in Kenya began with a small sponsorship program, seeking to provide care for 9 orphans in the Mathare Valley, 
              a slum in Nairobi. The Arms of Jesus Children's Mission now supports children in Greater Nairobi through partnership 
              agreements with various local church and non-governmental organizations who administer the funds directed to children's 
              homes and school sponsorhip programs.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div> 
  
  <!-- haiti close here --> 

  <!-- mnistry stat here -->
  <div class="ministry_outer">
    <div class="container children_arm">
      <div class="row">
        <div class="col-md-6">
          <div class="ministry_left_sec">
            <h2>Ministry Partners</h2>
            <p class="partnerParagraph">Program Partners</p>

            <p class="partnerParagraph1">AIM International, Baringo & Kajiado</p>
            <p class="partnerParagraph1">Redeemed Gospel Church, Korogocho, Nairobi</p>
            <p class="partnerParagraph1">Kariobangi Baptist Youth Center/Highridge Academy, Nairobi</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="kenya_paragraphOuter">
            <p class="partnerParagraph">Director</p>

            <p class="partnerParagraph1">John Ole Karrinkai</p>
            <p class="partnerParagraph1">Magdaline Gitahi</p>
            <p class="partnerParagraph1">Euticauls Wambua Nzengu</p>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <!-- mnistry close here -->

  <!-- partner start here -->
  <div class="partnerFeatured">
    <div class="container children_arm">
      <div class="row">
        <div class="col-md-12">
          <div class="partnerFeatured_outer">
            <h2>Featured Partner</h2>
            <p class="partnerFeatured_tagline">Kariobangi Baptist Youth Center/Highridge Academy</p><br>
            <p>KBYC was started in 1984 by Pastor David Kiatu as a vocational training center, where unemployed youth were taught 
              marketable skills such as woodwork for the boys and dressmaking for the girls. KBYC is located on reclaimed land which 
              used to be a quarry right next to one of the biggest garbage dumps in greater Nairobi. In fact you can stand in the school 
              yard and watch local entrepreneurs sorting through the garbage for plastic bags which they wash in a filthy stream so that 
              they can sell them for a few pennies.<br> 
              In 2002 Pastor Euticauls Wambua, a graduate of the KBYC trade school, returned to the center and along with Pastor Kiatu, 
              started a non-formal elementary school - Highridge Baptist Academy. They started with just a few preschool-age children 
              and added one new class each year, inducting new preschoolers while continuing to cater to the children already enrolled. 
              The school now has facilities for baby through class 4 and there are 210 students enrolled. The youth center and the 
              school operate on faith, with no government funding. When the funds run low, teachers are not paid and children have to 
              survive without their lunch that is normally part of the program. It costs the school approximately $400.00 per month alone 
              to maintain the lunch program. When I visited them recently, they had sufficient rice and beans to feed the children for 10 
              days and no more money to buy food after that.<br>
              <br>
              Yet everyone at KBYC is content, confident that God will provide
              <br><br>
              If you feel called to support one of the children for whom the staff of KBYC/Highridge Academy are caring, 
              please contact us.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- partner close here -->

  <!-- missionary start here -->
  <div class="missionaryProfile">
    <div class="container children_arm">
      <div class="row">
        <div class="col-md-9">
          <div class="leftSec_missionary">
            <div class="leftSec_missionary1">
              <h2>Missionary Profile</h2>
              <p>The Arms of Jesus Children's Mission is pleased to sponsor Maureen Aderoh.</p>
            </div>
            <div class="leftSec_missionary2">
              <h4>Sponsored Teacher</h4>
              <p>Maureen Aderoh Adhiambo, My Story</p>
            </div>
            <div class="leftSec_missionary3">
              <h4>Nairobi, January 18, 2010</h4>
              <p>​My name is Aderoh Adhiambo Maureen, born on 29th September 1985, a 
                born-again Christian, I love the Lord as my personal Savior.<br>
                <br>
                ​I come from Kisumu (Nyanza Province) at a place called Nyahera.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="leftSec_missionaryImg">
            <img src="images/missionary_img.jpg" alt="">
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="pragraph_tagLine">
              <p>​My dad's name is Jonah Racho Aderoh; he is a teacher. My mum's name is Millicent Atieno Aderoh, a business-woman.

                ​In my family, we are five children and I am the first-born. Our second-born is George Kevin Aderoh and he finished Form 
                Four last year. Third-born is Pauline Sharon Aderoh; she is in Form One. Fourth-born is Mercy Awour Aderoh; she is also in 
                Form One. Last-born is Derrick James Aderoh; he is in Class Four.
                
                ​I used to live in Kitale and went to school at Kitale Academy Primary School. I finished my primaty education in the year 
                2000 and attained 345 marks. I went to Manor House High School in 2001 and left there in 2004. Later I went back to 
                Greenfields Girl's School to repeat Form Four in 2005. In 2006, I went to Oson's Business Management in Naivasha to 
                study computer packages. In 2007, I went to Kitale Technical Training Institute (KTTI) for a certificate in IT. I was to continue 
                with my diploma in Information Technology, but my dad lost his job and my siblings needed school fees; so it was hard for 
                me to continue my studies. I started to look for a job with the little knowledge that I had, in order to save money so that I 
                could go back to college. This was not possible, so I gave up college in 2007.
                
                ​It has been so hard for me and my family in rural Kenya, as my dad has not succeeded in finding another job and my 
                brother need funds to go to college and there is no money.
                
                ​It is my prayer that one day, God is going to answer my prayers and i will be able to return to college so that I can study in 
                order to build my future.
                
                ​I am really inspired to be a computer techician in the future and I believe God is going to see me through this dream by his 
                grace. Above all, I thank God for how far He has brought me, because He is EBENEZER and His mercies endure for ever.
                
                ​I love the children of God and I am glad to have the opportunity to serve them at the Youth Center in the slums of 
                Korogocho.</p>

                <h6>Maureen Aderoh Adhiambo</h6>

                <div class="missionary_btnn">
                  <button>Contact Us</button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- missionary close here -->

  <!-- mamber start here -->
  <div class="mamber Missionary_mamber">
    <div class="container children_arm">
      <div class="row">
        <div class="col-md-12">
          <div class="mamber_outer">
            <div class="logo_mamber">
              <img src="images/logo_mamber.png" alt="">
            </div>
            <p>Certification with CCCC is a powerful endorsement of a charity’s integrity. It demonstrates that the charity has been carefully assessed
              by CCCC’s rigorous certification process and found to be in compliance with CCCC’s Standards. Donors can give confidently and
              generously when they see CCCC’s Seal of Accountability on a charity’s website.
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- mamber close here -->

  <!-- footer start here -->
  <div class="footer">
    <div class="container children_arm">
      <div class="row footer_row1">
        <div class="col-md-5">
          <div class="footer_item1">
            <h6>Contact Us</h6>

            <p class="number_footer">Phone: (905) 492-5007</p>
            <p class="email_footer">Email: aojchildmis@rogers.com</p>

            <p class="address_hadding">Mailing Address:</p>
            <p class="2R2">P.O.Box 10 Pickering,Ontario L1V 2R2 Canda</p>

            <p class="office_hadding">Office Address:</p>
            <p class="office_address">1730 McPherson Ct., Unit 19 Pickering,Ontario<br>L1w 3E6 Canada</p>
            <div class="footer_btm">
              <a href="#">Get Direction</a>
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <div class="footer_right_side">
            <div class="right_side_outer">
              <div class="footer_logo">
                <img src="images/footer-logo.png" alt="footer-logo">
              </div>
              <div class="social_ic">
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
              </div>
            </div>
            <div class="footer_manu">
              <div class="footer_manu_item1">
                <h5>About Us</h5>

                <ul>
                  <li><a href="#">About AOJ</a></li>
                  <li><a href="#">Mission Statement</a></li>
                  <li><a href="#">History</a></li>
                </ul>
              </div>
              <div class="footer_manu_item1">
                <h5>Donate</h5>

                <ul>
                  <li><a href="#">Catalogue</a></li>
                  <li><a href="#">Donations</a></li> 
                </ul>
              </div>
              <div class="footer_manu_item1">
                <h5>Get Involved</h5>

                <ul>
                  <li><a href="#">Catalogue</a></li>
                  <li><a href="#">Donations</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row copyright_txt">
        <div class="col-md-12">
          <p>Copyright © 2021 Arms of Jesus Children's Mission Inc. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- footer close here -->

<script src="js/jquery.min.js"></script>
  <!-- js link -->
  <script src="js/slick.js"></script>
  <script src="js/slick.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>
</html>