{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>The Arms Of Jesus</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- css link -->
  <link rel="stylesheet" href="{% static 'demo/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'demo/css/custom.css' %}">
  <link rel="stylesheet" href="{% static 'demo/css/bootstrap.css' %}">

  <link rel="stylesheet" href="{% static 'demo/css/slick.css' %}">
  <link rel="stylesheet" href="{% static 'demo/css/slick-theme.css '%}">

  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

  <!-- fav link -->
  <link rel="icon" type="image/x-icon" href="{% static 'demo/images/fav.png' %}">
</head>

<body>

  <!-- banner start here -->
  <section class="register_banner teamsBanner">
    <!-- header start here -->
    <header>
      <div class="header">
        <div class="children_header">
          <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="{% url 'newindex' %}"><img src="{% static 'demo/images/logo.png'%}"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                 <i class="fa fa-bars"></i>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'newindex' %}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'children' %}">Children</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Mission</a>
                  </li>
                  <li class="nav-item">
                    <div class="dropdown">
                      <a class="dropdown-toggle nav-link" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        Teams
                      </a>
  
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url 't_blog' %}">Teams Blog</a></li>
                        <li><a class="dropdown-item" href="{%  url 't_calender' %}">Teams Calender</a></li>
                        <li><a class="dropdown-item" href="{% url 't_consider' %}">Teams Consider</a></li>
                        <li><a class="dropdown-item" href="{% url 't_resource' %}">Teams Resource</a></li>
                        <li><a class="dropdown-item" href="{% url 't_training' %}">Teams Training</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'catalogue' %}">Catalogue</a>
                  </li>
                  <li class="nav-item">
                  <div class="dropdown">
                    <a class="dropdown-toggle nav-link" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                     About Us
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <li><a class="dropdown-item" href="{% url 'behave' %}">About Behave</a></li>
                      <li><a class="dropdown-item" href="{% url 'fund_policy' %}">About Fund Policy</a></li>
                      <li><a class="dropdown-item" href="{% url 'history' %}">About Histroy</a></li>
                      <li><a class="dropdown-item" href="{% url 'mission' %}">About Mission</a></li>
                      <li><a class="dropdown-item" href="{% url 'staff' %}">About Staff</a></li>
                    </ul>
                  </div>
                </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact_us' %}">Contact</a>
                  </li>
                </ul>
                <div class="header_btn">
                  <a href="{% url 'login' %}" class="donate_btn">Donate</a>
                  <a href="#" class="sponsor_btn">Sponsor</a>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <div class="teamsConsider_outer">
      <h1>TEAMS</h1>
    </div>
  </section>
  <!-- header close here -->

  <!-- consider serving start here -->
  <div class="considerServing">
    <div class="container children_arm">
      <div class="consider_hadding">
        <h2>Teams Blogs</h2>
        </div>
          {% if object_list %}
            <div class="row">
              {% for blog in object_list %}
                <div class="col-md-4">
                  <div class="considerImg_left_side">
                    {% if blog.image %}
                    <a href="{{ blog.image.url }}" target="_blank">
                    <img src="{{ blog.image.url }}" alt="">
                    </a>
                    {% else %}
                    <img src="" alt="">
                    {% endif %}
                      <div class="teamsBlogs_item">
                          <h5>{{ blog.title }}</h5>
                          <p>{{ blog.description }}</p>
                      </div>
                  </div>
                </div>
              {% endfor %}
            </div>
        </div>
      </div>
        {% else %}
      <div class="row">
        <div class="col-md-4">
          <div class="considerImg_left_side">
            <img src="{% static 'demo/images/Team_Blogs1.jpg' %}" alt="">
            <div class="teamsBlogs_item">
              <h5>Thanks to Donors</h5>
               <p>Lorem Ipsum is simply dummy text of the 
                printing and typesetting industry. Lorem 
                Ipsum has been the industry's</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="considerImg_left_side">
            <img src="{% static 'demo/images/Team_Blogs2.jpg' %}" alt="">
            <div class="teamsBlogs_item">
              <h5>School Dedication</h5>
              <p>Lorem Ipsum is simply dummy text of the 
                printing and typesetting industry. Lorem 
                Ipsum has been the industry's</p>
            </div>           
          </div>
        </div>
        <div class="col-md-4">
          <div class="considerImg_left_side">
            <img src="{% static 'demo/images/Team_Blogs3.jpg' %}" alt="">
            <div class="teamsBlogs_item">
              <h5>Urgent Prayer Request</h5>
              <p>Lorem Ipsum is simply dummy text of the 
                printing and typesetting industry. Lorem 
                Ipsum has been the industry's</p>
            </div>
          </div>
        </div>
      </div>
        {% endif %}
        
    </div>
  </div>
  <!-- consider serving close here -->

  <!-- mamber start here -->
  <div class="mamber TeamsBlogs_mamber">
    <div class="container children_arm">
      <div class="row">
        <div class="col-md-12">
          <div class="mamber_outer">
            <div class="logo_mamber">
              <img src="{% static 'demo/images/logo_mamber.png' %}" alt="">
            </div>
            <p>Certification with CCCC is a powerful endorsement of a charity’s integrity. It demonstrates that the charity has been carefully assessed
              by CCCC’s rigorous certification process and found to be in compliance with CCCC’s Standards. Donors can give confidently and
              generously when they see CCCC’s Seal of Accountability on a charity’s website.
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- mamber close here -->

  <!-- footer start here -->
  <div class="footer">
    <div class="container children_arm">
      <div class="row footer_row1">
        <div class="col-md-5">
          <div class="footer_item1">
            <h6>Contact Us</h6>

            <p class="number_footer">Phone: (905) 492-5007</p>
            <p class="email_footer">Email: aojchildmis@rogers.com</p>

            <p class="address_hadding">Mailing Address:</p>
            <p class="2R2">P.O.Box 10 Pickering,Ontario L1V 2R2 Canda</p>

            <p class="office_hadding">Office Address:</p>
            <p class="office_address">1730 McPherson Ct., Unit 19 Pickering,Ontario<br>L1w 3E6 Canada</p>
            <div class="footer_btm">
              <a href="https://www.google.com/maps/place/1730+McPherson+Ct+Unit+19,+Pickering,+ON+L1W+3E6,+Canada/@43.8249902,-79.0602083,17.05z/data=!4m5!3m4!1s0x89d4de59303c42af:0x48e61eac3b83aeef!8m2!3d43.8227487!4d-79.0609166" target="_blank" rel="noopener noreferrer">Get Direction</a>
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <div class="footer_right_side">
            <div class="right_side_outer">
              <div class="footer_logo">
                <img src="{% static 'demo/images/footer-logo.png' %}" alt="footer-logo">
              </div>
              <div class="social_ic">
                <a href="https://www.facebook.com/ArmsOfJesus/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://www.youtube.com/channel/UCGLEAhozRUSUDzP7o-NGD1A" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-youtube"></i></a>
              </div>
            </div>
            <div class="footer_manu">
              <div class="footer_manu_item1">
                <h5>About Us</h5>

                <ul>
                  <li><a href="#">About AOJ</a></li>
                  <li><a href="{% url 'mission' %}">Mission Statement</a></li>
                  <li><a href="{% url 'history' %}">History</a></li>
                </ul>
              </div>
              <div class="footer_manu_item1">
                <h5>Donate</h5>

                <ul>
                  <li><a href="{% url 'catalogue' %}">Catalogue</a></li>
                  <li><a href="{% url 'login' %}">Donations</a></li> 
                </ul>
              </div>
              <div class="footer_manu_item1">
                <h5>Get Involved</h5>

                <ul>
                  <li><a href="{% url 'catalogue' %}">Catalogue</a></li>
                  <li><a href="{% url 'login' %}">Donations</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row copyright_txt">
        <div class="col-md-12">
          <p>Copyright © 2021 Arms of Jesus Children's Mission Inc. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- footer close here -->

<script src="{% static 'demo/js/jquery.min.js' %}"></script>
  <!-- js link -->
  <script src="{% static 'demo/js/slick.js' %}"></script>
  <script src="{% static 'demo/js/slick.min.js' %}"></script>
  <script src="{% static 'demo/js/popper.min.js' %}"></script>
  <script src="{% static 'demo/js/bootstrap.min.js' %}"></script>
</body>
</html>